<?php
	$profiles = $debugWidget->getProfiler()->getProfiles();
	$profiles = !$profiles? array() : $profiles;
?>
<div id='pdw-panel-db' class='pdw-panel db'>
	<div class='title'>
		<h2>Database Info <a class='pdw-panel-close'>&times;</a></h2>
	</div>
	<div class='panel-content'>
		<h3 class='collapser'>SQL Queries</h3>
		<table class='pdw-data-table'>
			<thead>
				<tr>
					<th>Query</th>
					<th style="width: 100px">Time (s)</th>
				</tr>
			</thead>
			<tbody>
			<?php
				$total = 0;
				foreach ($profiles as $profile):
					$time = $profile->getTotalElapsedSeconds();
					$total += $time;
					echo "<tr>";
						echo "<td><pre><code class='language-sql'>" . $profile->getSQLStatement() . "</code></pre></td>";
						echo "<td><pre>" . print_r($profile->getSQLVariables(), true) . "</pre></td>";
						echo "<td>" . round($time, 6) . "</td>";
					echo "</tr>";
				endforeach;
			?>
			<tr>
				<td><strong>Total:</strong></td>
				<td><strong><?php echo round($total, 6); ?></strong></td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
