<main>
    <div class="page-heading text-center">
        <div class="container">
            <h2>ERROR 404</h2>
        </div>
    </div>
    <div class="container categories text-center">
        <div class="sub-content">            
            <br />
            <br />
            You have tried to access a page which does not exist or has been moved.
            <br />
            <br />
            Please click the links at the top navigation bar to 
            navigate to other parts of the site, or
            if you wish to contact us, there is information in the About page.
            <br />
            <br />
        </div>
        <h4>Please Check in the following Category</h4>
        <div class="row">
            <?php foreach ($categories as $category): ?>
                <div class="col-md-3 col-sm-6 category">
                    <a href="/category/view/<?php echo $category->cid ?>/<?php echo $category->slug ?>" alt="<?php echo $category->category_name ?>">
                        <img src="/assets/images/categories/<?php echo $category->cid ?>.png" alt="Category ebook <?php echo $category->category_name ?>">
                        <h5><?php echo $category->category_name ?></h5>
                        <div class="overlay text-center">
                            <p class="pull-right"><span>93</span>TRAINERS</p>
                            <p class="pull-left"><span>418</span>TUTORIALS</p>
                            <h5><?php echo $category->category_name ?></h5>

                        </div>
                    </a>
                </div>
            <?php endforeach ?>
        </div>
    </div>
</main>
