<div id="listar-content" class="listar-content">
    <form class="listar-formtheme listar-formaddlisting" method="post">
        <div id="listar-addlistingsteps" class="listar-addlistingsteps">
            <section>
                <fieldset>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group listar-dashboardfield">
                                <label>Nama Masjid</label>
                                <input type="text" name="name" class="form-control" placeholder="Masjid Kauman">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group listar-dashboardfield">
                                <label>Video Url <span>(Viemo atau Youtube)</span></label>
                                <input type="url" name="videourl" class="form-control" placeholder="//:http">
                            </div>
                        </div>                                               
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                            <div class="form-group listar-dashboardfield">
                                <label>Description</label>
                                <div class="clearfix"></div>
                                <textarea name="description" id="listar-tinymceeditor" class="listar-tinymceeditor"></textarea>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                            <div class="form-group listar-dashboardfield">
                                <label>Kota</label>
                                <div class="row">
                                    <select id="city_id" class="select2" name="city_id">
                                        <option value="">--Pilih--</option>
                                        <?php foreach ($kota as $k) { ?>
                                            <option value="<?php echo $k->id; ?>" data-name="<?php echo $k->name; ?>"><?php echo $k->name; ?></option>
                                        <?php } ?>
                                    </select>
                                    <select id="kec_id"></select>
                                    <select id="desa_id"></select>
                                </div>
                            </div>
                            <div class="form-group listar-dashboardfield">                                                       
                                <label>Map</label>
                                <label class="listar-fileuploadlabel" for="listar-photogallery">
                                    <div style="width:100%;height:300px" id="register-form__map" class="register-form__map register-form__map--user"></div>
                                </label>
                                <input type="hidden" name="lat" value="" class="register-form__latitude-holder">
                                <input type="hidden" name="long" value="" class="register-form__longitude-holder">
                                <input type="hidden" name="long-location" value="" id="long-location">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group listar-dashboardfield">
                                <label>Phone Number</label>
                                <input type="text" name="phone" class="form-control" placeholder="111 - 111 - 9870">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group listar-dashboardfield">
                                <label>Website</label>
                                <input type="url" name="website" class="form-control" placeholder="//:http">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group listar-dashboardfield">
                                <label>Kategori</label>
                                <select name="category_id" id="category_id" class="form-control">
                                    <option value="">--Pilih--</option>
                                    <?php foreach ($categories as $k) { ?>
                                        <option value="<?php echo $k->id; ?>"><?php echo $k->name; ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group listar-dashboardfield">
                                <label>Alamat Lengkap</label>
                                <input type="text" id="location" required name="location" class="form-control" placeholder="">
                            </div>
                        </div> 
                        <div class="col-xs-12 text-right">
                            <button class="btn btn-primary">Submit</button>
                            <br/>
                        </div>
                        <?php /*
                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                          <div class="form-group listar-dashboardfield">
                          <label>Amenities</label>
                          <ul class="listar-amenities">
                          <li><a href="javascript:void(0);">Pets Allowed</a></li>
                          <li><a href="javascript:void(0);">Internet</a></li>
                          <li><a href="javascript:void(0);">Family &amp; Friends</a></li>
                          <li><a href="javascript:void(0);">Cable TV</a></li>
                          <li><a href="javascript:void(0);">Gym</a></li>
                          </ul>
                          </div>
                          </div>
                         * 
                         */ ?>
                    </div>
                </fieldset>
            </section>
        </div>
    </form>
</div>