<main>
    <div class="container teacher-page">
        <div class="row">
            <div class="col-sm-3 text-center">
                <img src="/img/avatars/img_avatar2.png" alt="Avatar" class="img-thumbnail img-circle">
                <?php /**<ul class="social">
                    <li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li><li>
                        <a href="#"><i class="zmdi zmdi-twitter"></i></a></li><li>
                        <a href="#"><i class="zmdi zmdi-google-old"></i></a></li><li>
                        <a href="#"><i class="zmdi zmdi-pinterest"></i></a></li><li>
                        <a href="#"><i class="zmdi zmdi-instagram"></i></a></li><li>
                        <a href="#"><i class="zmdi zmdi-email"></i></a></li><li>
                        <a href="#"><i class="zmdi zmdi-globe-alt"></i></a></li>
                </ul>
                 * 
                 */?>
            </div>
            <div class="col-sm-9">
                <h5><?php echo $user->name?></h5>
                <p class="abs">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore 
                    magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd 
                    gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing 
                    elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos 
                    et accusam et justo duo dolores et ea rebum. 
                </p>
                <p class="abs">
                    Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, 
                    consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam 
                    voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus 
                    est Lorem ipsum dolor sit amet.   
                </p>
            </div>
        </div>
    </div>
<?php  ?>
</main>
