<div class="container-fluid">
    <div class="row">
        <div class="fb-profile">
            <img align="left" class="fb-image-lg" src="\assets\images\background\15508887312396.jpg" alt="Profile image example"/>
            <img align="left" class="fb-image-profile thumbnail" src="\assets\images\avatars\user-default.png" alt="Profile image example"/>
            <div class="fb-profile-text">
                <h1> <?php echo $user->name ?></h1>

            </div>
        </div>
    </div>
</div> <!-- /container fluid-->  
<div class="container">
    <div class="col-sm-12">
        <div data-spy="scroll" class="tabbable-panel">
            <div class="tabbable-line">
                <ul class="nav nav-tabs ">
                    <li class="active">
                        <a href="#tab_default_2" data-toggle="tab">
                            My Profile
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_default_2">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="email">Nama:</label>
                                    <p> <?php echo $user->name ?></p>
                                </div>
                                <div class="form-group">
                                    <label for="email">Phone:</label>
                                    <p> <?php echo $user->phone ?></p>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email:</label>
                                    <p> <?php echo $user->email ?></p>
                                </div>
                            </div>
                            <div class="col-sm-6">                                
                                <div class="form-group">
                                    <label for="email">SkripsiPoin:</label>
                                    <p><strong><?php echo $user->credit_balance ?></strong></p>
                                    <p>
                                        <b>SkripsiPoin</b> dapat digunakan untuk mendownload file dan materi di skripsi.co.id 
                                        <br/>
                                        Cara untuk mendapatkan <b>SkripsiPoin</b>:
                                    </p>
                                    <br/>
                                    <ul>
                                        <li><a data-toggle="modal" data-target="#modal_add_credit"><strong>Undang teman</strong></a>
                                            <p>Untuk setiap teman yang bergabung, kamu akan mendapatkan tambahan <b>10 Poin</b></p>
                                        </li>
                                        <?php /*
                                        <li>
                                            <a href="/books/add">
                                                <strong>Upload file referensi skripsimu</strong>
                                            </a>
                                            <br/>
                                            Upload file referensi skripsimu (bisa berupa skripsi, tesis atau ebook) di skripsi.co.id
                                            <p>Untuk setiap file diupload dan dinyatakan valid, kamu akan mendapatkan tambahan <b>20 Poin</b></p>
                                        </li>
                                         * 
                                         */?>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--              <div class="tab-pane" id="tab_default_4">
                                  <p>
                                   Lifestyle
                    
                                  </p>
                                   <div class="row">
                                  <div class="col-sm-6">
                                    <div class="form-group">
                                         <label for="email">Highest Education:</label>
                                          <p> MBA/PGDM</p>
                                     </div>
                                      <div class="form-group">
                                         <label for="email">Place of Birth:</label>
                                          <p> pune, maharashtra</p>
                                     </div>
                                      <div class="form-group">
                                         <label for="email">Place of Birth:</label>
                                          <p> pune, maharashtra</p>
                                     </div>
                                      <div class="form-group">
                                         <label for="email">Place of Birth:</label>
                                          <p> pune, maharashtra</p>
                                     </div>
                                  </div>
                                  <div class="col-sm-6">
                                     <div class="form-group">
                                         <label for="email">Place of Birth:</label>
                                          <p> pune, maharashtra</p>
                                     </div>
                                      <div class="form-group">
                                         <label for="email">Place of Birth:</label>
                                          <p> pune, maharashtra</p>
                                     </div>
                                      <div class="form-group">
                                         <label for="email">Place of Birth:</label>
                                          <p> pune, maharashtra</p>
                                     </div>
                                      <div class="form-group">
                                         <label for="email">Place of Birth:</label>
                                          <p> pune, maharashtra</p>
                                     </div>
                    
                                   </div>
                                  </div>
                                </div> -->
                </div>
            </div>
        </div>

    </div>
    <?php /*
      <div class="col-sm-4">
      <div class="panel panel-default">
      <div class="menu_title">
      Horoscope
      </div>
      <div class="panel-body">
      <div class="row">
      <div class="col-lg-12">
      <!-- <div class="form-group">
      <label for="email">Place of Birth:</label>
      <p> pune, maharashtra</p>
      </div>
      <div class="form-group">
      <label for="email">Date of Birth:</label>
      <p> 26 Sep 2017</p>
      </div>
      <div class="form-group">
      <label for="email">Time of Birth:</label>
      <p> 11:20 min.</p>
      </div>
      <div class="form-group">
      <label for="email">Horroscoe Match not Necessory</label>
      </div>
      <div class="form-group">
      <label for="email">Sun Sign:</label>
      <p> Scorpio</p>
      </div>
      <div class="form-group">
      <label for="email">Rashi/ Moon sign:</label>
      <p> Mesh</p>
      </div> -->
      <div class="form-group">
      <label for="email">Nakshtra:</label>
      <p> Bharani</p>
      </div>
      <div class="form-group">
      <label for="email">Manglik:</label>
      <p> Manglik</p>
      </div>
      <button type="submit" class="btn btn-danger btn-block">Submit</button>
      </div>
      </div>
      </div>
      </div>
      </div>
     * 
     */ ?>
</div>
<div class="modal fade" id="modal_add_credit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form method="post" action="/profiles/send_invitation">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Undang teman via email</h4>
                </div>
                <div class="modal-body">
                    <ul id="last-flag-div" class="list-group">

                    </ul>
                    <a href="#" id="btn-last-flag-div">Tambah Baris +</a>
                </div>
                <div class="modal-footer p-md">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>