<main>

    <div class="page-heading text-center">
        <div class="container">
            <h2>CATEGORIES</h2>
        </div>
    </div>
    <div class="container categories text-center">
        <div class="row">
            <?php foreach ($categories as $category): ?>
                <div class="col-md-3 col-sm-6 category">
                    <a href="/category/view/<?php echo $category->cid ?>/<?php echo $category->slug ?>" alt="<?php echo $category->category_name ?>">
                        <img src="/assets/images/categories/<?php echo $category->cid ?>.png" alt="Category ebook <?php echo $category->category_name ?>">
                        <h5><?php echo $category->category_name ?></h5>
                        <div class="overlay text-center">
                            <p class="pull-right"><span>93</span>TRAINERS</p>
                            <p class="pull-left"><span>418</span>TUTORIALS</p>
                            <h5><?php echo $category->category_name ?></h5>

                        </div>
                    </a>
                </div>
            <?php endforeach ?>
        </div>
    </div>
</main>

<footer>
    <!-- http://android-ebook.gaivo.co.id/images/thumbs/<?php echo $category->book_cover_img ?> -->
</footer>

