<main>
	
	<div class="page-heading text-center">
		<div class="container">
			<h2>BLOG</h2>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-9">
				<?php foreach ($posts as $post): ?>
				<div class="blog-item clearfix">
					<img src="https://placehold.it/871x401" alt="blog-single" class="resp-img">					
					<h3><?php echo $post->post_title ?></h3>
					<div class="author">
						<a href="#"><?php echo $post->post_author ?></a><span><?php echo $post->post_date ?></span>
					</div>
					<p class="abs">
						<?php echo substr($post->post_content,0, 150) . ".." ?>
					</p>
					<a href="#" class="pull-right greybutton">READ MORE</a>
				</div>
			<?php endforeach ?>
				<div class="paginations">
					<a class="prev" href="#"><i class="zmdi zmdi-chevron-left"></i>PREV</a>
					<a href="#">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">5</a>
					<a href="#">6</a>
					<a class="next" href="#">NEXT<i class="zmdi zmdi-chevron-right"></i></a>
				</div>
			</div>
			<div class="col-lg-3 blog-sidebar">
				<div class="search-something">
					<input type="search" placeholder="search for something">
					<a href="#"><i class="zmdi zmdi-search"></i></a>
				</div>
				<h4>RECENT POSTS</h4>
				<div class="recent-post clearfix">
					<img src="https://placehold.it/70x70" alt="recent" class="pull-left">
					<a href="#">Stet clita ea et gubergren, kasd magna no rebum</a>
					<div class="author">
						<a href="#">WORKSPACE</a><span> 14 JANUARY 2016</span>
					</div>
				</div>
				<div class="recent-post clearfix">
					<img src="https://placehold.it/70x70" alt="recent" class="pull-left">
					<a href="#">Stet clita ea et gubergren, kasd magna no rebum</a>
					<div class="author">
						<a href="#">WEBDESIGN</a><span> 14 JANUARY 2016</span>
					</div>
				</div>
				<div class="recent-post clearfix">
					<img src="https://placehold.it/70x70" alt="recent" class="pull-left">
					<a href="#">Stet clita ea et gubergren, kasd magna no rebum</a>
					<div class="author">
						<a href="#">PHOTOSHOP</a><span> 09 JANUARY 2016</span>
					</div>
				</div>
				<div class="categories">
					<h6>CATEGORIES</h6>
					<ul>
						<li><a href="#">Business (18)</a></li>
						<li><a href="#">CMS (14)</a></li>
						<li><a href="#">Design (17)</a></li>
						<li><a href="#">Development (23)</a></li>
						<li><a href="#">Humanities (17)</a></li>
						<li><a href="#">Mecidine (8)</a></li>
						<li><a href="#">Music (47)</a></li>
						<li><a href="#">Photography (68)</a></li>
						<li><a href="#">Photoshop (87)</a></li>
						<li><a href="#">IT &amp; Software (41)</a></li>
						<li><a href="#">Lifestyle (54)</a></li>
						<li><a href="#">Languages (83)</a></li>
						<li><a href="#">SEO (39)</a></li>
						<li><a href="#">Marketing (44)</a></li>
						<li><a href="#">Video Production (33)</a></li>
					</ul>
				</div>
				<div class="popular-courses index-3-categories">
					<h4>POPULAR COURSES</h4>
					<div class="courses-side-slick">
						<div class="category-with-bg text-center cat1">
							<h5>Content-Management-Systems</h5>
							<p>IT-Service for CMS like WordPress</p>
							<a href="#" class="goto"><i class="zmdi zmdi-long-arrow-right"></i></a>
						</div>
						<div class="category-with-bg text-center cat2">
							<h5>User Experience / UX Design</h5>
							<p>Workshop for UX Design</p>
							<a href="#" class="goto"><i class="zmdi zmdi-long-arrow-right"></i></a>
						</div>
						<div class="category-with-bg text-center cat3">
							<h5>Typography &amp; Writing</h5>
							<p>Work with InDesign</p>
							<a href="#" class="goto"><i class="zmdi zmdi-long-arrow-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>