<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3 style="margin-top:5px;"><?php echo$post['post_title'] ?></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <?php echo nl2br($post['post_content']) ?>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p><hr/></p>
        </div>
    </div>
    <?php echo $html ?>
    <div class="row">
        <div class="col-xs-12">
            <p><br/></p>
        </div>
    </div>
</div>

<!-- <div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3 style="margin-top:5px;">Blog</h3>
        </div>
    </div>
    <?php echo $html ?>
</div> -->
