<main>
    <div class="page-heading text-left">
        <div class="container">
            <h2>BLOG</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <?php foreach ($posts as $post): ?>
                    <div class="blog-item clearfix">
                            <!-- <img src="https://placehold.it/871x401" alt="blog-single" class="resp-img">					 -->
                        <h3><?php echo $post['post_title'] ?></h3>
                        <div class="author">
                            <a href="#"></a><span><?php echo $post['post_date'] ?></span>
                        </div>
                        <p class="abs">
                            <?php echo substr(strip_tags($post['post_content']), 0, 150) . ".." ?>
                        </p>
                        <a href="/blog/<?php echo $post['post_name'] ?>" class="pull-right greybutton">READ MORE</a>
                    </div>
                <?php endforeach ?>
                <!-- <div class="paginations">
                        <a class="prev" href="#"><i class="zmdi zmdi-chevron-left"></i>PREV</a>
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#">6</a>
                        <a class="next" href="#">NEXT<i class="zmdi zmdi-chevron-right"></i></a>
                </div> -->
            </div>
            <div class="col-lg-3 blog-sidebar">
                <!-- <div class="search-something">
                        <input type="search" placeholder="search for something">
                        <a href="#"><i class="zmdi zmdi-search"></i></a>
                </div> -->
                <h4>RECENT POSTS</h4>
                <?php foreach ($posts as $post): ?>
                    <div class="recent-post clearfix">
                        <img src="https://placehold.it/70x70" alt="recent" class="pull-left">
                        <a href="#"><?php echo $post['post_title'] ?></a>
                        <div class="author">
                            <a href="#">WORKSPACE</a><span> <?php echo $post['post_date'] ?></span>
                        </div>
                    </div>
                <?php endforeach ?>
                <div class="popular-courses index-3-categories">
                    <h4>POPULAR COURSES</h4>
                    <div class="courses-side-slick">
                        <?php foreach ($bookviews as $books): ?>
                            <div class="category-with-bg text-center cat1" style="background-image: url('http://android-ebook.gaivo.co.id/images/thumbs/<?php echo $books->book_cover_img ?>')">
                                <h5><?php echo $books->book_title ?></h5>
                                <a href="#" class="goto"><i class="zmdi zmdi-long-arrow-right"></i></a>
                            </div>
                        <?php endforeach ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>