<div class="listar-innerbanner">
    <div class="listar-parallaxcolor listar-innerbannerparallaxcolor">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="listar-innerbannercontent">
                        <div class="listar-pagetitle">
                            <h1>Latest News</h1>
                        </div>
                        <ol class="listar-breadcrumb">
                            <li><a href="javascript:void(0);">Home</a></li>
                            <li class="listar-active"><span>News</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<main id="listar-main" class="listar-main listar-innerspeace listar-bglight listar-haslayout">
    <div class="container">
        <div class="row">
            <div id="listar-content" class="listar-content">
                <div class="listar-posts listar-postsgrid listar-postsgridvone">
                    <?php foreach ($page->items as $post): ?>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="listar-themepost listar-post">
                                <figure class="listar-featuredimg">
                                    <a href="/berita/<?php echo $post->id ?>/<?php echo $post->slug ?>"><img src="/img/posts/<?php echo $post->image ?>" alt="image description"></a>
                                    <a class="listar-postcategory" href="#"><?php echo $post->category->name ?></a>
                                </figure>
                                <div class="listar-postcontent">
                                    <figure class="listar-authorimg"><img src="images/author/img-01.jpg" height="54" width="54" alt="image description"></figure>
                                    <h2><a href="/berita/<?php echo $post->id ?>/<?php echo $post->slug ?>"><?php echo $post->title ?></a></h2>
                                    <div class="listar-themepostfoot">
                                        <time datetime="2017-08-08">
                                            <i class="icon-clock4"></i>
                                            <span><?php echo date('d M Y', strtotime($post->created)) ?></span>
                                        </time>
                                        <span class="listar-postcomment">
                                            <i class="icon-comment"></i>
                                            <span>3 Comments</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <?php endforeach ?>
                </div>
                <?php if ($page->total_pages > 1) { ?>
                    <nav class="listar-pagination">
                        <ul>
                            <?php if ($page->current > $page->before) { ?>
                                <li class="listar-prevpage">
                                    <a href="<?php echo '/berita?page=' . $page->before; ?>">
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                                <?php
                            }
                            for ($i = 1; $i < $page->total_pages; $i++) {
                                ?>
                                <li><a href="/berita?page=<?php echo $i ?>"><?php echo $i ?></a></li>
                                <?php
                            }
                            if ($page->current < $page->next) {
                                ?>
                                <li class="listar-nextpage">
                                    <a href="<?php echo '/berita?page=' . $page->next; ?>">
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </li>
                            <?php } ?>
                        </ul>
                    </nav>
                <?php } ?>
            </div>
        </div>
    </div>
</main>