<footer id="listar-footer" class="listar-footer listar-haslayout">
    <div class="listar-footeraboutarea">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h6 style="color:#fff;">Tentang DKM.OR.ID</h6>
                        <ul class="information">
                            <li><a href="/about.html">Tentang Kami</a></li>
                            <li><a href="index/contact">Kontak Kami</a></li>
                            <li><a href="index/cara_kerja">Cara Kerja</a></li> 
                            <li><a href="/privacy-policy.html">Kebijakan Privasi</a></li>
                            <li><a href="/term-of-use.html">Syarat & Ketentuan</a></li>
                        </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h6 style="color:#fff;">Kategori Masjid</h6>
                        <ul class="information">
                             <?php
                                for ($i = 0; $i <= 6; $i++) {
                                    if (isset($categories_on_header[$i])) {
                            ?>
                            <li>
                                <a href="/category/<?php echo $categories_on_header->id ?>/<?php echo $categories_on_header->slug ?>">
                                    <?php echo $categories_on_header[$i]->name ?>
                                </a>
                            </li>
                            <?php } } ?> 
                        </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h6 style="color:#fff;">Masjid Tergabung</h6>
                        <ul class="information">
                             <?php
                                for ($i = 0; $i <= 5; $i++) {
                                    if (isset($mosque_footer[$i])) {
                            ?>
                            <li>
                                <a href="/dkm/<?php echo $mosque_footer->id ?>/<?php echo $mosque_footer->slug ?>">
                                    <?php echo $mosque_footer[$i]->name ?>
                                </a>
                            </li>
                            <?php } } ?> 
                        </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h6 style="color:#fff;">Kota</h6>
                        <ul class="information">
                            <?php foreach ($kota_on_footer as $kota):?>
                            <li>
                                <a href="/kota/<?php echo $kota->id ?>/<?php echo $kota->slug ?>">
                                    <?php echo $kota->name ?>
                                </a>
                            </li>
                            <?php endforeach ?>
                        </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="listar-footerbar">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <span class="listar-copyright">Copyright &copy; <?php echo date('Y') ?> Dkm.or.id. All rights reserved.</span>
                </div>
            </div>
        </div>
    </div>
</footer>


<!-- <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="listar-upperbox">
                        <strong class="listar-logo"><a href="javascript:void(0);">
                                <img src="/images/logo.png" alt="image description">
                            </a>
                        </strong>
                        <div class="listar-lowerbox">
                                <div class="listar-description">
                                    <p>Lorem ipsum dolor sit amet, eu per legimus referrentur. Ius ne viris repudiare, nominavi sententiae eos in. Et duo salutatus consequat Lorem ipsum dolor sit amet.</p>
                                </div>
                                <address><strong>Address:</strong> No.200 Josecph, San Francisco <span><strong>Tel:</strong> 01-987-654-3210</span></address>
                            </div>
                    </div>
                       <div id="listar-navigation" class="collapse navbar-collapse listar-navigation">
                        <ul>
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="javascript:void(0);">Kategori</a>
                                <ul class="sub-menu">
                                    <?php foreach ($categories_on_header as $category): ?>
                                        <li>
                                            <a href="/category/<?php echo $category->id ?>/<?php echo $category->slug ?>">
                                                <?php echo $category->name ?>
                                            </a>
                                        </li>
                                    <?php endforeach ?>
                                </ul>
                            </li>
                            <li>
                                <a href="/berita">Berita</a>
                            </li>
                            <li>
                                <a href="/index/testimoni">Testimoni</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="javascript:void(0);">About</a>
                                <ul class="sub-menu">
                                    <li><a href="index/howitwork.html">Tentang Kami</a></li>
                                    <li><a href="index/cara_kerja">Cara Kerja</a></li>
                                    <li><a href="index/services.html">Syarat & Ketentuan</a></li>
                                    <li><a href="index/services.html">Kebijakan Privasi</a></li>
                                    <li><a href="index/contact.phtml">Kontak Kami</a></li>
                                </ul>
                            </li>
                            <?php if ($this->auth->getIdentity()): ?>
                                <li><a href="/dashboard">Dasboard</a></li>
                            <?php endif ?>
                        </ul>
                    </div>
                </div>
            </div> -->