<footer>
    <div class="container">
        <div class="row">            
            <div class="col-md-3 col-sm-6 col-xs-12">
                <h6>Tentang Skripsi.co.id</h6>
                <ul class="information">
                    <li><a href="/about.html">About Us</a></li>
                    <li><a href="/contact.phtml">Hubungi Kami</a></li>
                    <li><a href="https://play.google.com/store/apps/details?id=com.gaivosystemworks.app.skripsicoid">Mobile Apps</a></li>
                    <li><a href="/cara-kerja.html">Cara Kerja</a></li>
                    <li><a href="/privacy-policy.html">Privacy Policy</a></li>
                    <li><a href="/term-of-use.html">Terms & Condition</a></li> 
                </ul>
            </div>   
            <div class="col-md-2 col-sm-6 col-xs-12">
                <h6>Kategori:</h6>
                <ul class="information">
                    <?php
                    for ($i = 0; $i <= 6; $i++) {
                        if (isset($categories[$i])) {
                            ?>
                            <li>
                                <a href="/category/view/<?php echo $categories[$i]->cid ?>/<?php echo $categories[$i]->slug ?>">
                                    <?php echo $categories[$i]->category_name ?>
                                </a>
                            </li>
                            <?php
                        }
                    }
                    ?>
                </ul>
            </div>
            <div class="col-md-2 col-sm-12 col-xs-12">
                <h6>Pintasan</h6>
                <ul class="information">
                    <li><a href="/category">Kategori</a></li>
                    <li><a href="/authors">Penulis</a></li>
                    <li><a href="/books">Tulisan</a></li>
                    <li><a href="/jurusan">Jurusan</a></li>
                </ul>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-12">
                <h6>Blog</h6>
                <?php echo $footer_blog; ?>
            </div>
        </div>
        <div class="row botbar">
            <div class="col-sm-7">
                <p class="copyright">Copyright <?php echo date('Y'); ?> &copy; Skripsi.co.id - Skripsi Platform  | All Rights Reserved</p>
            </div>
            <!--
            <div class="col-sm-5">
                <ul class="pull-right payments">
                    <li><a href="#"><img src="/assets/images/payments/1.png" alt="Payment"></a></li>
                    <li><a href="#"><img src="/assets/images/payments/2.png" alt="Payment"></a></li>
                    <li><a href="#"><img src="/assets/images/payments/3.png" alt="Payment"></a></li>
                    <li><a href="#"><img src="/assets/images/payments/4.png" alt="Payment"></a></li>
                    <li><a href="#"><img src="/assets/images/payments/5.png" alt="Payment"></a></li>
                </ul>
            </div>
            -->
        </div>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
