<div id="topbar">
    <div class="pull-right">
        <div class="navigation">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <i class="zmdi zmdi-menu zmdi-hc-lg"></i>
            </button>
            <nav class="collapse navbar-collapse" id="myNavbar">
                <ul>
                        <li>
                          <a href="/">Home</a>
                        </li>
                    <?php foreach ($categories as $category): ?>
                        <li><a href="/category/view/<?php echo $category->cid ?>/<?php echo $category->slug ?>">
                                <?php echo $category->category_name ?></a>
                        </li>
                    <?php endforeach ?>
                </ul>
            </nav>
        </div>
        <div style="display: inline-block; margin: 1px 10px; color: #fff;">
            <?php
            if (is_array($this->auth->getIdentity())) {
                echo '<i class="fa fa-user"></i> <a href="/profiles" style="margin-right:10px;">'
                . '<b>'.$this->auth->getIdentity()['name'].'</b></a>'
                        . '<a href="/logout">Logout</a> ';
            } else {
                ?>
                <a href="/session/login" class="blueplay login">LOGIN</a> 
                <a href="/session/signup" class="register">REGISTER</a>
            <?php } ?>
        </div>
        <?php /*
          <div class="search">
          <a href="#" class="search"><i class="zmdi zmdi-search zmdi-hc-lg"></i></a>
          <div class="search-something">
          <input type="search" placeholder="search for something">
          <a href="#"><i class="zmdi zmdi-search"></i></a>
          </div>
          </div>
         * 
         */ ?>
    </div>
    <!-- <h1 class="logo"><a href="index1.html"><img src="https://placehold.it/112x28" alt="Logo"></a></h1> -->
    <h1 class="logo"><a href="/"><img src="/assets/images/logo/logo-head.png" alt="Logo"></a></h1>
</div>
