<header id="listar-header" class="listar-header cd-auto-hide-header listar-haslayout">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <strong class="listar-logo">
                    <a href="/">
                        <img src="/images/<?php echo $this->dispatcher->getControllerName() == 'blogs' ? 'logod.png?t=003' : 'logo.png?t=003' ?>" alt="logo DKM.or.id"></a>
                </strong>
                <nav id="listar-nav" class="listar-nav">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#listar-navigation" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="listar-navigation" class="collapse navbar-collapse listar-navigation">
                        <ul>
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="javascript:void(0);">Kategori</a>
                                <ul class="sub-menu">
                                    <?php foreach ($categories_on_header as $category): ?>
                                        <li>
                                            <a href="/category/<?php echo $category->id ?>/<?php echo $category->slug ?>">
                                                <?php echo $category->name ?>
                                            </a>
                                        </li>
                                    <?php endforeach ?>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Kajian</a>
                            </li>
                            <li>
                                <a href="/berita">Berita</a>
                            </li>
                            <?php if (is_array($this->auth->getIdentity())): ?>
                                <li>
                                    <a href="/dashboard" class="listar-btn listar-btngreen" style="color: #ffffff !important;"><?php echo $this->Util->getFirstName($this->auth->getIdentity()['name']);?> | Akun saya</a>
                                </li>
                                <li>
                                    <a href="/session/logout" class="listar-btn listar-btnblue" style="color: #ffffff">Logout</a>
                                </li>
                            <?php else: ?>                                
                                <li>
                                    <a href="#listar-loginsingup">
                                        <span style="color: #000 !important;">Anda Jama'ah Masjid?</span>
                                    </a>
                                </li>
                                <li>
                                    <!-- <a class="listar-btn listar-btngreen" href="#" data-toggle="modal" data-target="#login" style="background:#0ebef0; color:#fff;">Pengelola Masjid</a> -->
                                    <a class="listar-btn listar-btngreen" href="/landing-signup" style="background:#0ebef0; color:#fff;">Pengelola Masjid</a>
                                </li>
                            <?php endif ?>

                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
