<div id="listar-loginsingup" class="listar-loginsingup">
    <button type="button" class="listar-btnclose">x</button>
    <figure class="listar-loginsingupimg" data-vide-bg="poster: images/bgjoin.jpg" data-vide-options="position: 50% 50%"></figure>
    <div class="listar-contentarea">
        <div class="listar-themescrollbar">
            <div class="listar-logincontent">
                <div class="listar-themetabs">
                    <ul class="listar-tabnavloginregistered" role="tablist">
                        <li role="presentation" class="active"><a href="#listar-loging" data-toggle="tab">Log in</a></li>
                        <li role="presentation"><a href="#listar-register" data-toggle="tab">Register</a></li>
                    </ul>
                    <div class="tab-content listar-tabcontentloginregistered">
                        <div role="tabpanel" class="tab-pane active fade in" id="listar-loging">
                            <form method="post" class="listar-formtheme listar-formlogin" id="public-login-form">
                                <fieldset>
                                    <div class="form-group listar-inputwithicon">
                                        <i class="icon-profile-male"></i>
                                        <input type="text" name="email" class="form-control" placeholder="Username Or Email">
                                    </div>
                                    <div class="form-group listar-inputwithicon">
                                        <i class="icon-icons208"></i>
                                        <input type="password" name="password" class="form-control" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <div class="listar-checkbox">
                                            <input type="checkbox" name="remember" id="rememberpass2">
                                            <label for="rememberpass2">Remember me</label>
                                        </div>
                                        <span><a href="#">Lupa Password?</a></span>
                                    </div>
                                    <button class="listar-btn listar-btngreen">Login</button>
                                </fieldset>
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="listar-register">
                            <form id="public-signup-form" method="post" class="listar-formtheme listar-formlogin">
                                <fieldset>
                                    <div class="form-group listar-inputwithicon">
                                        <i class="icon-profile-male"></i>
                                        <input type="text" name="name" required="" class="form-control" placeholder="Nama Lengkap">
                                    </div>
                                    <div class="form-group listar-inputwithicon">
                                        <i class="icon-icons208"></i>
                                        <input type="email" name="email" required="" class="form-control" placeholder="Email Address">
                                    </div>
                                    <div class="form-group listar-inputwithicon">
                                        <img src="/images/icons/icon-03.png"/>
                                        <input type="text" name="phone" required="" class="form-control" placeholder="Nomor Handphone">
                                    </div>
                                    <div class="form-group listar-inputwithicon">
                                        <i class="icon-lock-stripes"></i>
                                        <input type="password" name="password" required="" class="form-control" placeholder="Password">
                                    </div>
                                    <button class="listar-btn listar-btngreen">Mendaftar</button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="listar-shareor"><span>atau</span></div>
                <div class="listar-signupwith">
                    <ul class="listar-signinloginwithsocialaccount">
                        <li class="listar-facebook">
                            <a href="/session/social/Facebook">
                                <i class="icon-facebook-1"></i><span>Facebook</span>
                            </a></li>
                            <li class="listar-googleplus">
                                <a href="/session/social/Google">
                                    <i class="icon-google4"></i><span>Google</span>
                                </a>
                            </li>                        
                        <!--<li class="listar-twitter"><a href="javascript:void(0);"><i class="icon-twitter-1"></i><span>Twitter</span></a></li>
                        <li class="listar-googleplus"><a href="javascript:void(0);"><i class="icon-google4"></i><span>Google +</span></a></li>
                        -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/login.js"></script>