<!-- bottom footer -->
    <div class="content-footer">
        <nav class="footer-right">
            <ul class="nav">
                <li>
                    <a href="javascript:;">Feedback</a>
                </li>
            </ul>
        </nav>
        <nav class="footer-left">
            <ul class="nav">
                <li>
                    <a href="javascript:;">
                        <span>Copyright</span>
                        &copy; 2016 Your App
                    </a>
                </li>
                <li class="hidden-md-down">
                    <a href="javascript:;">Privacy</a>
                </li>
                <li class="hidden-md-down">
                    <a href="javascript:;">Terms</a>
                </li>
                <li class="hidden-md-down">
                    <a href="javascript:;">help</a>
                </li>
            </ul>
        </nav>
    </div>
