<main>
	
	<div class="page-heading text-center">
		<div class="container">
			<div class="pull-right">
				<ul class="grid-opts">
					<li><a href="#"><i class="zmdi zmdi-view-list zmdi-hc-lg"></i></a></li><li>
					<a class="active" href="#"><i class="zmdi zmdi-view-module zmdi-hc-lg"></i></a></li>
				</ul>
			</div>
			<h2>OUR COURSES</h2>
		</div>
	</div>
	<div class="container courses-browse popular">
		<div class="row toolbar">
			<div class="col-md-4 col-sm-6 col-xs-12 select-categories">
				<select class="jquery-select">	
					<option>choose a category</option>
					<option value="1">Category 1</option>
					<option value="2">Category 2</option>
					<option value="3">Category 3</option>
				</select>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12 select-numofvids">
				<select class="jquery-select">	
					<option>choose a teacher</option>
					<option value="1">Teacher 1</option>
					<option value="2">Teacher 2</option>
					<option value="3">Teacher 3</option>
				</select>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12 select-name">
				<select class="jquery-select">	
					<option>sort by</option>
					<option value="1">sort by 1</option>
					<option value="2">sort by 2</option>
					<option value="3">sort by 3</option>
				</select>
			</div>
			<div class="col-sm-6 col-xs-12 text-keywords">
				<input class="keywords" name="keywords" type="text" placeholder="keywords">	
			</div>
			<div class="col-sm-6 col-xs-12 search-button">
				<button class="search-teachers">SEARCH</button>
			</div>
		</div>
		<div class="row tutorials">
			<div class="col-md-4">
				<div class="tutorial">
					<img src="https://placehold.it/370x220" class="resp-img" alt="Tutorial">
					<div class="tutorial-details">
						<h6>How to become an UX Designer</h6>
						<p><span class="lessons"><i class="zmdi zmdi-assignment"></i>12 LESSONS</span><span class="duration"><i class="zmdi zmdi-time"></i>3:15h</span></p>
						<p class="abs">At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>
						<a href="#" class="greybutton">VIEW COURSE</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="tutorial">
					<img src="https://placehold.it/370x220" class="resp-img" alt="Tutorial">
					<div class="tutorial-details">
						<h6>8 steps to your own startup</h6>
						<p><span class="lessons"><i class="zmdi zmdi-assignment"></i>8 LESSONS</span><span class="duration"><i class="zmdi zmdi-time"></i>4:32h</span></p>
						<p class="abs">At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>
						<a href="#" class="greybutton">VIEW COURSE</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="tutorial">
					<img src="https://placehold.it/370x220" class="resp-img" alt="Tutorial">
					<div class="tutorial-details">
						<h6>Business communication for marketers</h6>
						<p><span class="lessons"><i class="zmdi zmdi-assignment"></i>15 LESSONS</span><span class="duration"><i class="zmdi zmdi-time"></i>6:04h</span></p>
						<p class="abs">At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>
						<a href="#" class="greybutton">VIEW COURSE</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row tutorials">
			<div class="col-md-4">
				<div class="tutorial">
					<img src="https://placehold.it/370x220" class="resp-img" alt="Tutorial">
					<div class="tutorial-details">
						<h6>Writing Course</h6>
						<p><span class="lessons"><i class="zmdi zmdi-assignment"></i>12 LESSONS</span><span class="duration"><i class="zmdi zmdi-time"></i>3:15h</span></p>
						<p class="abs">At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>
						<a href="#" class="greybutton">VIEW COURSE</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="tutorial">
					<img src="https://placehold.it/370x220" class="resp-img" alt="Tutorial">
					<div class="tutorial-details">
						<h6>Creative Blogging</h6>
						<p><span class="lessons"><i class="zmdi zmdi-assignment"></i>8 LESSONS</span><span class="duration"><i class="zmdi zmdi-time"></i>4:32h</span></p>
						<p class="abs">At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>
						<a href="#" class="greybutton">VIEW COURSE</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="tutorial">
					<img src="https://placehold.it/370x220" class="resp-img" alt="Tutorial">
					<div class="tutorial-details">
						<h6>How to create wooden design</h6>
						<p><span class="lessons"><i class="zmdi zmdi-assignment"></i>15 LESSONS</span><span class="duration"><i class="zmdi zmdi-time"></i>6:04h</span></p>
						<p class="abs">At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>
						<a href="#" class="greybutton">VIEW COURSE</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row tutorials">
			<div class="col-md-4">
				<div class="tutorial">
					<img src="https://placehold.it/370x220" class="resp-img" alt="Tutorial">
					<div class="tutorial-details">
						<h6>Design with Adobe Photoshop</h6>
						<p><span class="lessons"><i class="zmdi zmdi-assignment"></i>12 LESSONS</span><span class="duration"><i class="zmdi zmdi-time"></i>3:15h</span></p>
						<p class="abs">At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>
						<a href="#" class="greybutton">VIEW COURSE</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="tutorial">
					<img src="https://placehold.it/370x220" class="resp-img" alt="Tutorial">
					<div class="tutorial-details">
						<h6>Repair your broken things</h6>
						<p><span class="lessons"><i class="zmdi zmdi-assignment"></i>8 LESSONS</span><span class="duration"><i class="zmdi zmdi-time"></i>4:32h</span></p>
						<p class="abs">At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>
						<a href="#" class="greybutton">VIEW COURSE</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="tutorial">
					<img src="https://placehold.it/370x220" class="resp-img" alt="Tutorial">
					<div class="tutorial-details">
						<h6>Start learning business english</h6>
						<p><span class="lessons"><i class="zmdi zmdi-assignment"></i>15 LESSONS</span><span class="duration"><i class="zmdi zmdi-time"></i>6:04h</span></p>
						<p class="abs">At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>
						<a href="#" class="greybutton">VIEW COURSE</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-xs-12">
				<div class="paginations">
					<a class="prev" href="#"><i class="zmdi zmdi-chevron-left"></i>PREV</a>
					<a href="#">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">5</a>
					<a href="#">6</a>
					<a class="next" href="#">NEXT<i class="zmdi zmdi-chevron-right"></i></a>
				</div>
			</div>
		</div>
	</div>


</main>