<main>

    <div class="page-heading text-center">
        <div class="container">
            <h2>Jurusan</h2>
            <p style="color: #000">
                Skripsi, tesis dan disertasi dari berbagai jurusan
            </p>
        </div>
    </div>
    <div class="container categories text-center">
        <div class="row">
            <?php foreach ($majors as $jur): ?>
                <div class="col-md-3 col-sm-6 category">
                    <a href="/jurusan/<?php echo $jur->id ?>/<?php echo $jur->slug ?>" alt="<?php echo $jur->name ?>">
                        <img src="/assets/images/categories/1.png" alt="Skripsi Jurusan <?php echo $jur->name ?>">
                        <h5><?php echo $jur->name ?></h5>
                        <div class="overlay text-center">
                            <h5>Jurusan <?php echo $jur->name ?></h5>
                            <p>
                                <small>Skripsi, tesis dan disertasi jurusan <?php echo strtolower($jur->name) ?></small>
                            </p>
                        </div>
                    </a>
                </div>
            <?php endforeach ?>
        </div>
    </div>
</main>

<footer>
    <!-- http://android-ebook.gaivo.co.id/images/thumbs/<?php //echo $jur->book_cover_img                  ?> -->
</footer>

