<style>
    #desc-bottom h2{
    font-size: 20px !important;
    color: #000 !important;
    font-weight: bold !important;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#desc-bottom h3{
    font-size: 16px !important;
    color: #000 !important;
    font-weight: bold;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#desc-bottom p,#desc-bottom h2+p, #desc-bottom ul li{
    font-size: 14px !important;
    color: #000 !important;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
</style>
<main>
    <div class="page-heading text-center">
        <div class="container">
            <div class="pull-right">
                <ul class="grid-opts">
                    <li><a href="/jurusan/<?php echo $jur->id ?>"><i class="zmdi zmdi-view-list zmdi-hc-lg"></i></a></li><li>
                        <a class="active" href="#"><i class="zmdi zmdi-view-module zmdi-hc-lg"></i></a></li>
                </ul>
            </div>
            <h2>Skripsi, tesis dan disertasi jurusan <?php echo $jur->name ?></h2>
        </div>
    </div>
    <div class="container courses-browse popular">
        <div class="row toolbar">
            <div class="col-md-4 col-sm-6 col-xs-12 select-categories">
                <select class="jquery-select">
                    <option>choose a category</option>
                    <?php foreach ($category_list as $category): ?>
                        <option value="<?php echo $category->cid ?>"><?php echo $category->category_name; ?></option>
                    <?php endforeach ?>
                </select>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 select-numofvids">
                <select class="jquery-select">
                    <option>choose a category</option>
                    <?php foreach ($author as $author): ?>
                        <option value="<?php echo $author->author_id ?>"><?php echo $author->author_name; ?></option>
                    <?php endforeach ?>
                </select>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 select-name">
                <select class="jquery-select">
                    <option>Sort By</option>
                    <option value="1">Rating</option>
                    <option value="2">Populer</option>
                </select>
            </div>
            <div class="col-sm-6 col-xs-12 text-keywords">
                <input class="keywords" name="keywords" type="text" placeholder="keywords">
            </div>
            <div class="col-sm-6 col-xs-12 search-button">
                <button class="search-teachers">SEARCH</button>
            </div>
        </div>
        <div class="row tutorials">
            <?php foreach ($page->items as $book): ?>
                <div class="col-md-4 samakan" style="margin-top:10px;">
                    <div class="tutorial">
                        <img src=" http://android-ebook.gaivo.co.id/images/thumbs/<?php echo $book->book_cover_img ?>" class="foto" alt="<?php echo $book->book_title ?>">
                        <div class="tutorial-details">
                            <div class="samakan-inner">
                                <h6><?php echo $book->book_title ?></h6>
                                <p><span class="lessons"><i class="zmdi zmdi-eye"></i>
                                        <?php echo $book->book_views ?> VIEWS</span><span class="duration"><i class="zmdi zmdi-star"></i><?php echo $book->rate_avg ?> RATING </span></p>
                                <p class="abs"><?php echo substr(strip_tags($book->book_description), 0, 150) . "..." ?></p>

                            </div>
                            <a href="/books/view/<?php echo $book->id ?>/<?php echo $book->slug ?>" class="greybutton">View Book</a>

                        </div>
                    </div>
                </div>
            <?php endforeach ?>
        </div>
        <div class="row text-center">
            <div class="col-xs-12">
                <hr/>
                <div class="paginations">
                    <a class="prev" href='/jurusan/<?php echo $jur->id ?>/<?php echo $jur->slug ?>?page=<?= $page->before; ?>'>
                        <i class="zmdi zmdi-chevron-left"></i>PREV</a>
                    <?php for ($i = 1; $i <= $page->total_pages; $i++) { ?>
                        <a href="/jurusan/<?php echo $jur->id ?>/<?php echo $jur->slug ?>?page=<?php echo $i ?>" <?php
                        if ($i == $page->current) {
                            echo 'class="active"';
                        }
                        ?>><?php echo $i; ?></a>
                       <?php } ?>
                    <a class="next" href='/jurusan/<?php echo $jur->id ?>/<?php echo $jur->slug ?>?page=<?= $page->next; ?> '>NEXT<i class="zmdi zmdi-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>    
    <div id="desc-bottom" class="container p-sm" style="border-top:solid 1px #999;">
        <div class="row">
            <div class="col-xs-12">
                <?php echo $jur->description ?>
            </div>
        </div>
    </div>
</main>
