

<tbody>
    <tr>
        <td style="padding:40px 0  0 0;">
            <p style="color:#000;font-size: 16px;line-height:24px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;">

            <h2 style="font-size: 14px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;">Undangan bergabung dengan skripsi.co.id</h2>

            <p style="font-size: 13px;line-height:24px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;">
                Teman kamu, <strong><?php echo $inviter; ?></strong> telah mengundangmu untuk mencoba Skripsi.co.id
                <br>
                Klik link dibawah ini untuk bergabung segera karena undangan ini akan kadaluwarsa dalam waktu 24 jam.
                <br>
                <br>
                <a style="background:#E86537;color:#fff;padding:10px" href="<?php echo $url; ?>">Gabung Sekarang</a>

                <br>
                <br>
                Ayo gabung di Skripsi.co.id
                <br>
                <br>
                Teman Kamu 
                <br>
                <strong><?php echo $inviter; ?></strong>
                <br>
            </p>
        </td>
    </tr>
</tbody>

