<?php echo $this->getContent(); ?>
<section class="caption">
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <div align="center" class="well">
                <?php echo $this->getContent() ?>

                <div align="center" class="well">

                    <?php echo $this->tag->form(array('class' => 'form-search')); ?>

                    <div align="center">
                        <h2>Forgot Password?</h2>
                    </div>
                    <div style="margin: 10px auto;">
                        <?php echo $form->render('email', array('class' => 'form-control')); ?>
                        <br/>
                        <?php echo $form->render('Send', array('class' => 'btn btn-block btn-sm btn-primary')); ?>
                    </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</section>