<?php echo $this->getContent(); ?>
<section class="caption" style="margin:30px auto;">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 m-t-lg">
            <h4>Login</h4>
            <hr/>
            <?php echo $this->tag->form(array('class' => 'form')); ?>
            <?php echo $this->flashSession->output(); ?>
            <fieldset>
                <div class="form-group">
                    <?php echo $form->render('email', array('class' => 'form-control')); ?>
                </div>
                <div class="form-group">
                    <?php echo $form->render('password', array('class' => 'form-control')); ?>
                </div>
                <div class="checkbox">
                    <label>
                        <?php echo $form->render('remember') ?>
                    </label>
                </div>
                <?php //echo $form->render('csrf', array('value' => $this->security->getToken())); ?>
                <?php echo $form->render('Sign In', array('class' => 'btn btn-sm btn-success pull-right')); ?>
            </fieldset>
            <?php //echo $form->render('csrf',array('value'=>$this->security->getToken()));   ?>
            <a href="/session/resend_activation">Kirim ulang email aktivasi</a>
            </form>
        </div>
    </div>
</section>