<main style="margin: 30px auto;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>
                    Masukkan email Anda:
                </p>
                <form method="post" action="">
                    <div class="form-group">
                        <label>Email:</label>
                        <input type="text" name="email" class="form-control" required=""/>
                    </div>
                    <div class="form-group">
                        <button>Submit!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
