<?php echo $this->getContent(); ?>
<section class="caption" style="margin:100px auto;">
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <div align="center">
                <?php echo $this->tag->form(array('class' => 'form-search', 'id' => 'form')); ?>
                <table class="table table-striped">
                    <tr>
                        <td align="center">Name</td>
                        <td>
                            <?php echo $form->render('name', array('class' => 'form-control')); ?>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">Email</td>
                        <td>
                            <?php echo $form->render('email', array('class' => 'form-control')); ?>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">No Handphone</td>
                        <td>
                            <?php echo $form->render('phone', array('class' => 'form-control')); ?>
                        </td>
                    </tr>
                    <tr>
                        <td id="confpass" align="center" name="confpass">Username</td>
                        <td>
                            <?php echo $form->render('username', array('class' => 'form-control confpass', 'id' => 'confpass')); ?>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" id="pswd2" name="pass2">Password</td>
                        <td>
                            <?php echo $form->render('password', array('class' => 'form-control password', 'id' => 'pass')); ?>
                        </td>
                    </tr>                    
                    <tr>
                        <td align="center"></td>
                        <td><?php echo $form->render('Sign Up', array('class' => 'btn btn-primary', 'id' => 'submit')); ?></td>
                    </tr>
                </table>
                <?php //echo $form->render('csrf', array('value' => $this->security->getToken())); ?>
                <div class="forgot">
                    <?php echo $this->tag->linkTo(array('session/login', 'Sign In')); ?>
                </div>
                </form>
            </div>
        </div>
    </div>
</section>
