<main id="listar-main" class="listar-main listar-haslayout">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-push-1 col-md-10 col-lg-push-2 col-lg-8">
                <div id="listar-content" class="listar-content">
                    <div class="listar-comingsooncontent" style="padding-top:130px; margin: 0 auto ">
                        <h1 style="color:#000; margin-bottom: 20px;">Pendaftaran berhasil</h1>
                        <div class="listar-formarea">
                            <h2 style="color:#000;">Cek email Anda untuk mengaktifkan akun</h2>
                            <form  method="post" action="/session/resend_activation">
                                <h4 style="color:#000;">Tidak menerima email aktivasi?</h4>
                                <h5>1. Cek Inbox/folder spam</h5>
                                <h5>2.Kirim Ulang</h5>
                                <div class="form-group">
                                    <label>Masukkan Alamat Email</label>
                                    <input type="text" name="email" required class="form-control" value="<?php echo $this->auth->getIdentity()['email']?>"/>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary">Kirim Ulang</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
