<main>
    <div class="page-heading text-center">
        <div class="container">
            <h2>ABOUT US</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="logo"><a href="/"><img src="/assets/images/logo/logo2.png" alt="Logo skripsi.co.id"></a></h1>
                <?php echo nl2br($app_setting->app_description);?>
                <br/>
                <ul class="contactinfo">
                    <?php /* <li class="address"><strong>Address:</strong> Ruko Grand Boulevard Blok U01A no 369 Bundaran 5 Citra Raya-Tangerang Banten 15710 </li> */ ?>
                    <li class="phone"><strong>Phone:</strong>  +62 8139 354 4270</li>
                    <li class="email"><strong>E-mail:</strong>  info@skripsi.co.id</li>
                </ul>
            </div>
        </div>
    </div>
</main>
