<!--************************************
				Inner Banner Start
		*************************************-->
		<div class="listar-innerbanner">
			<div class="listar-parallaxcolor listar-innerbannerparallaxcolor">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="listar-innerbannercontent">
								<div class="listar-pagetitle">
									<h1>Cara Kerja DKM.or.id</h1>
								</div>
								<ol class="listar-breadcrumb">
									<li><a href="javascript:void(0);">Home</a></li>
									<li class="listar-active"><span>Cara Kerja</span></li>
								</ol>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--************************************
				Inner Banner End
		*************************************-->
		<!--************************************
				Main Start
		*************************************-->
		<main id="listar-main" class="listar-main listar-innerspeace listar-haslayout">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div id="listar-content" class="listar-content">
							<div class="listar-howitwork">
								<div class="listar-feature">
									<figure><img src="images/post/img-20.jpg" alt="image description"></figure>
									<div class="listar-featurecontent">
										<i class="icon-layers"></i>
										<h2><span class="listar-bluethemecolor">01</span> Pilih Kategori</h2>
										<div class="listar-description">
											<p>Pilih Kategori Masjid Yang Anda Inginkan</p>
										</div>
									</div>
								</div>
								<div class="listar-feature">
									<figure><img src="images/post/img-21.jpg" alt="image description"></figure>
									<div class="listar-featurecontent">
										<i class="icon-map3"></i>
										<h2>Pilih Lokasi Anda Berada<span class="listar-bluethemecolor">02</span></h2>
										<div class="listar-description">
											<p>Pilih Lokasi Anda Berada, Maka Kami Akan Memberikan Lokasi Masjid Terdekat Sekitar Anda</p>
										</div>
									</div>
								</div>
								<div class="listar-feature">
									<figure><img src="images/post/img-22.jpg" alt="image description"></figure>
									<div class="listar-featurecontent">
										<i class="icon-hotairballoon"></i>
										<h2><span class="listar-bluethemecolor">03</span> Selamat Menunaikan Ibadah</h2>
										<div class="listar-description">
											<p>Selamat Menunaikan Ibadah Anda, Semoga Aplikasi Kami Membantu Dalam Pencarian Masjid Sekitar Anda</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<section class="listar-haslayout">
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pull-left">
				<div class="row">
					<div class="listar-postfirstlisting">
						<figure><a href="javascript:void(0);"><img src="images/placeholder-03.png" alt="image description"></a></figure>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 pull-right">
				<div class="row">
					<div class="listar-followus">
						<figure><a href="javascript:void(0);"><img src="images/placeholder-04.png" alt="image description"></a></figure>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<div class="row">
					<div class="listar-newsletter">
						<div class="listar-newsletteroverlay">
							<h2>Newsletter</h2>
							<div class="listar-description">
								<p>Lorem ipsum dolor sit amet, eu per legimus referrentur. Ius ne viris repudiare, nominavi sententiae eos in. Et duo salutatus consequat.</p>
							</div>
							<form class="listar-formtheme listar-formnewsletter">
								<fieldset>
									<input type="email" name="email" class="form-control" placeholder="Your email address">
									<button type="button"><i class="icon-arrow-right2"></i></button>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--************************************
				Main End
		*************************************-->