	<div class="container">
		<div id="topbar">
			<div class="pull-right">
				<div class="navigation">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<i class="zmdi zmdi-menu zmdi-hc-lg"></i>
					</button>
					<nav class="collapse navbar-collapse" id="myNavbar">
						<ul>
							<li class="active">
								<a href="#">Home</a>
								<ul class="submenu-list submenu">
									<li><a href="index1.html">Homepage 1</a></li>
									<li><a href="index2.html">Homepage 2</a></li>
									<li><a href="index3.html">Homepage 3</a></li>
								</ul>
							</li>
							<li>
								<a href="#">Online Courses</a>
								<ul class="submenu clearfix">
									<li>
										<ul class="sub-column">
											<li><a href="#">All Courses (817)</a></li>
											<li><a href="#">Business (18)</a></li>
											<li><a href="#">CMS (14)</a></li>
											<li><a href="#">Design (17)</a></li>
											<li><a href="#">Development (23)</a></li>
											<li><a href="#">Humanities (19)</a></li>
										</ul>
									</li>
									<li>
										<ul class="sub-column">
											<li><a href="#">Medicine (8)</a></li>
											<li><a href="#">Music (47)</a></li>
											<li><a href="#">Photography (68)</a></li>
											<li><a href="#">Photoshop (87)</a></li>
											<li><a href="#">IT &amp; Software (41)</a></li>
											<li><a href="#">Lifestyle (54)</a></li>
										</ul>
									</li>
									<li>
										<ul class="sub-column">
											<li><a href="#">Science (54)</a></li>
											<li><a href="#">Languages (83)</a></li>
											<li><a href="#">Business (52)</a></li>
											<li><a href="#">SEO (39)</a></li>
											<li><a href="#">Marketing (44)</a></li>
											<li><a href="#">Video Production (33)</a></li>
										</ul>
									</li>
								</ul>
							</li> 
							<li>	
								<a href="#">Categories</a>
								<ul class="submenu submenu-list">
									<li><a href="categories.html">Categories</a></li>
									<li><a href="courses-3-col.html">Courses 3 column</a></li>	
									<li><a href="courses-4-col.html">Courses 4 column</a></li>	
									<li><a href="courses-gallery.html">Courses Gallery</a></li>	
									<li><a href="course-single.html">Course Single</a></li>	
									<li><a href="courses-list.html">Courses List</a></li>	
									<li><a href="courses-list-sidebar.html">Courses List Sidebar</a></li>	
									<li><a href="courses-sidebar.html">Courses Sidebar</a></li>	
								</ul>
							</li> 
							<li>
								<a href="#">Support</a>
								<ul class="submenu submenu-list">
									<li><a href="how-it-works.html">How it works</a></li>	
									<li><a href="pricing.html">Pricing</a></li>
									<li><a href="services-1.html">Services 1</a></li>
									<li><a href="services-2.html">Services 2</a></li>
									<li><a href="teachers.html">Teachers</a></li>
									<li><a href="teacher-single.html">Teacher Single</a></li>
									<li><a href="blog1.html">Blog 1</a></li>
									<li><a href="blog2.html">Blog 2</a></li>
								</ul>
							</li> 
							<li><a href="contact.html">Contact</a></li> 
						</ul>
					</nav>
				</div>
				<a href="#" class="blueplay login">LOGIN</a> 
				<a href="#" class="register">REGISTER</a>
				<div class="cart">
					<a href="#"><i class="zmdi zmdi-case zmdi-hc-lg"></i><span>4</span></a>
					<div class="cart-container">
						<h6>SHOPPING CART (2)</h6>
						<div class="cart-item clearfix">
							<img src="https://placehold.it/94x94" alt="cart item" class="pull-left">
							<a href="#">How to become an UX Designer</a>
							<p class="quantity">1x $39,99</p>
							<button class="remove">x DELETE</button>
						</div>
						<div class="cart-item clearfix">
							<img src="https://placehold.it/94x94" alt="cart item" class="pull-left">
							<a href="#">How to become an UX Designer</a>
							<p class="quantity">1x $39,99</p>
							<button class="remove">x DELETE</button>
						</div>
						<div class="cart-controls text-center">
							<a href="#" class="checkout">CHECKOUT</a>
							<a href="#" class="viewcart">VIEW CART</a>
							<a href="#" class="addcourse">+ ADD COURSE</a>
						</div>
					</div>
				</div>
				<div class="search">
					<a href="#" class="search"><i class="zmdi zmdi-search zmdi-hc-lg"></i></a>
					<div class="search-something">
						<input type="search" placeholder="search for something">
						<a href="#"><i class="zmdi zmdi-search"></i></a>
					</div>
				</div>
 			</div>
			<h1 class="logo"><a href="index1.html"><img src="https://placehold.it/112x28" alt="Logo"></a></h1>
		</div>
	</div>
</header>

<main>
	
	<div class="page-heading text-center">
		<div class="container">
			<div class="pull-right">
				<ul class="grid-opts">
					<li><a href="#"><i class="zmdi zmdi-view-list zmdi-hc-lg"></i></a></li><li>
					<a class="active" href="#"><i class="zmdi zmdi-view-module zmdi-hc-lg"></i></a></li>
				</ul>
			</div>
			<h2>OUR COURSES</h2>
		</div>
	</div>
	<div class="container courses-browse popular">
		<div class="row toolbar">
			<div class="col-md-4 col-sm-6 col-xs-12 select-categories">
				<select class="jquery-select">	
					<option>choose a category</option>
					<option value="1">Category 1</option>
					<option value="2">Category 2</option>
					<option value="3">Category 3</option>
				</select>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12 select-numofvids">
				<select class="jquery-select">	
					<option>choose a teacher</option>
					<option value="1">Teacher 1</option>
					<option value="2">Teacher 2</option>
					<option value="3">Teacher 3</option>
				</select>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12 select-name">
				<select class="jquery-select">	
					<option>sort by</option>
					<option value="1">sort by 1</option>
					<option value="2">sort by 2</option>
					<option value="3">sort by 3</option>
				</select>
			</div>
			<div class="col-sm-6 col-xs-12 text-keywords">
				<input class="keywords" name="keywords" type="text" placeholder="keywords">	
			</div>
			<div class="col-sm-6 col-xs-12 search-button">
				<button class="search-teachers">SEARCH</button>
			</div>
		</div>
		<div class="row tutorials">
			<div class="col-md-4">
				<div class="tutorial">
					<img src="https://placehold.it/370x220" class="resp-img" alt="Tutorial">
					<div class="tutorial-details">
						<h6>How to become an UX Designer</h6>
						<p><span class="lessons"><i class="zmdi zmdi-assignment"></i>12 LESSONS</span><span class="duration"><i class="zmdi zmdi-time"></i>3:15h</span></p>
						<p class="abs">At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>
						<a href="#" class="greybutton">VIEW COURSE</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="tutorial">
					<img src="https://placehold.it/370x220" class="resp-img" alt="Tutorial">
					<div class="tutorial-details">
						<h6>8 steps to your own startup</h6>
						<p><span class="lessons"><i class="zmdi zmdi-assignment"></i>8 LESSONS</span><span class="duration"><i class="zmdi zmdi-time"></i>4:32h</span></p>
						<p class="abs">At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>
						<a href="#" class="greybutton">VIEW COURSE</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="tutorial">
					<img src="https://placehold.it/370x220" class="resp-img" alt="Tutorial">
					<div class="tutorial-details">
						<h6>Business communication for marketers</h6>
						<p><span class="lessons"><i class="zmdi zmdi-assignment"></i>15 LESSONS</span><span class="duration"><i class="zmdi zmdi-time"></i>6:04h</span></p>
						<p class="abs">At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>
						<a href="#" class="greybutton">VIEW COURSE</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row tutorials">
			<div class="col-md-4">
				<div class="tutorial">
					<img src="https://placehold.it/370x220" class="resp-img" alt="Tutorial">
					<div class="tutorial-details">
						<h6>Writing Course</h6>
						<p><span class="lessons"><i class="zmdi zmdi-assignment"></i>12 LESSONS</span><span class="duration"><i class="zmdi zmdi-time"></i>3:15h</span></p>
						<p class="abs">At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>
						<a href="#" class="greybutton">VIEW COURSE</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="tutorial">
					<img src="https://placehold.it/370x220" class="resp-img" alt="Tutorial">
					<div class="tutorial-details">
						<h6>Creative Blogging</h6>
						<p><span class="lessons"><i class="zmdi zmdi-assignment"></i>8 LESSONS</span><span class="duration"><i class="zmdi zmdi-time"></i>4:32h</span></p>
						<p class="abs">At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>
						<a href="#" class="greybutton">VIEW COURSE</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="tutorial">
					<img src="https://placehold.it/370x220" class="resp-img" alt="Tutorial">
					<div class="tutorial-details">
						<h6>How to create wooden design</h6>
						<p><span class="lessons"><i class="zmdi zmdi-assignment"></i>15 LESSONS</span><span class="duration"><i class="zmdi zmdi-time"></i>6:04h</span></p>
						<p class="abs">At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>
						<a href="#" class="greybutton">VIEW COURSE</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row tutorials">
			<div class="col-md-4">
				<div class="tutorial">
					<img src="https://placehold.it/370x220" class="resp-img" alt="Tutorial">
					<div class="tutorial-details">
						<h6>Design with Adobe Photoshop</h6>
						<p><span class="lessons"><i class="zmdi zmdi-assignment"></i>12 LESSONS</span><span class="duration"><i class="zmdi zmdi-time"></i>3:15h</span></p>
						<p class="abs">At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>
						<a href="#" class="greybutton">VIEW COURSE</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="tutorial">
					<img src="https://placehold.it/370x220" class="resp-img" alt="Tutorial">
					<div class="tutorial-details">
						<h6>Repair your broken things</h6>
						<p><span class="lessons"><i class="zmdi zmdi-assignment"></i>8 LESSONS</span><span class="duration"><i class="zmdi zmdi-time"></i>4:32h</span></p>
						<p class="abs">At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>
						<a href="#" class="greybutton">VIEW COURSE</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="tutorial">
					<img src="https://placehold.it/370x220" class="resp-img" alt="Tutorial">
					<div class="tutorial-details">
						<h6>Start learning business english</h6>
						<p><span class="lessons"><i class="zmdi zmdi-assignment"></i>15 LESSONS</span><span class="duration"><i class="zmdi zmdi-time"></i>6:04h</span></p>
						<p class="abs">At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>
						<a href="#" class="greybutton">VIEW COURSE</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-xs-12">
				<div class="paginations">
					<a class="prev" href="#"><i class="zmdi zmdi-chevron-left"></i>PREV</a>
					<a href="#">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">5</a>
					<a href="#">6</a>
					<a class="next" href="#">NEXT<i class="zmdi zmdi-chevron-right"></i></a>
				</div>
			</div>
		</div>
	</div>


</main>

<footer>

	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-6 col-xs-12">
				<h1 class="logo"><a href="index.html"><img src="https://placehold.it/112x28" alt="Logo"></a></h1>
				<ul class="contactinfo">
					<li class="address"><strong>Address:</strong> 127 Sith Avenue, 54571 New York City </li>
					<li class="phone"><strong>Phone:</strong>  +49 123 456 789</li>
					<li class="email"><strong>E-mail:</strong>  info@bromine-theme.com</li>
				</ul>
				<ul class="social">
					<li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li><li>
					<a href="#"><i class="zmdi zmdi-twitter"></i></a></li><li>
					<a href="#"><i class="zmdi zmdi-google-old"></i></a></li><li>
					<a href="#"><i class="zmdi zmdi-pinterest"></i></a></li><li>
					<a href="#"><i class="zmdi zmdi-instagram"></i></a></li><li>
					<a href="#"><i class="zmdi zmdi-rss"></i></a></li>
				</ul>
			</div>
			<div class="col-md-2 col-sm-6 col-xs-12">
				<h6>GET HELP</h6>
				<ul class="information">
					<li><a href="#">Help and FAQ</a></li>
					<li><a href="#">Video Courses</a></li>
					<li><a href="#">Online Booking</a></li>
					<li><a href="#">Online Support</a></li>
				</ul>
			</div>
			<div class="col-md-2 col-sm-6 col-xs-12">
				<h6>INFORMATION</h6>
				<ul class="information">
					<li><a href="#">About us</a></li>
					<li><a href="#">Our services</a></li>
					<li><a href="#">Order history</a></li>
					<li><a href="#">Information</a></li>
				</ul>
			</div>
			<div class="col-md-2 col-sm-6 col-xs-12">
				<h6>MY ACCOUNT</h6>
				<ul class="information">
					<li><a href="#">Plans &amp; Pricings</a></li>
					<li><a href="#">Favorites</a></li>
					<li><a href="#">Personal info</a></li>
					<li><a href="#">Login</a></li>
				</ul>
			</div>
			<div class="col-md-2 col-sm-12 col-xs-12">
				<h6>QUICKLINKS</h6>
				<ul class="information">
					<li><a href="#">Video Training</a></li>
					<li><a href="#">Online Courses</a></li>
					<li><a href="#">Become a teacher</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>
		</div>
		<div class="row botbar">
			<div class="col-sm-7">
				<p class="copyright">Copyright 2017 &copy; Bromine - Video Learning Platform  | All Rights Reserved</p>
			</div>
			<div class="col-sm-5">
				<ul class="pull-right payments">
					<li><a href="#"><img src="https://placehold.it/38x12" alt="Payment"></a></li>
					<li><a href="#"><img src="https://placehold.it/27x17" alt="Payment"></a></li>
					<li><a href="#"><img src="https://placehold.it/20x18" alt="Payment"></a></li>
					<li><a href="#"><img src="https://placehold.it/16x16" alt="Payment"></a></li>
					<li><a href="#"><img src="https://placehold.it/25x12" alt="Payment"></a></li>
				</ul>
			</div>
		</div>
	</div>
	
</footer>

<script src="assets/libs/jquery/jquery.js"></script>
<script src="assets/libs/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/libs/rslides/responsiveslides.min.js"></script>
<script src="assets/libs/jquery-ui/jquery-ui.min.js"></script>
<script src="assets/libs/slick/slick.min.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>