<!doctype html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="zxx"> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang="zxx"> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang="zxx"> <![endif]-->
<!--[if gt IE 8]><!-->	<html class="no-js" lang="zxx"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<?php echo $this->tag->getTitle(); ?>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/favicon.png">
	<?php echo $this->tag->stylesheetLink('/css/bootstrap.min.css');
	echo $this->tag->stylesheetLink('/css/bootstrap-slider.css');
	echo $this->tag->stylesheetLink('/css/normalize.css');
	echo $this->tag->stylesheetLink('/css/font-awesome.min.css');
	echo $this->tag->stylesheetLink('/css/icomoon.css');
	echo $this->tag->stylesheetLink('/css/chosen.css');
	echo $this->tag->stylesheetLink('/css/prettyPhoto.css');
	echo $this->tag->stylesheetLink('/css/scrollbar.css');
	echo $this->tag->stylesheetLink('/css/morris.css');
	echo $this->tag->stylesheetLink('/css/owl.carousel.css');
	echo $this->tag->stylesheetLink('/css/YouTubePopUp.css');
	echo $this->tag->stylesheetLink('/css/auto-complete.css');
	echo $this->tag->stylesheetLink('/css/jquery.navhideshow.css');
	echo $this->tag->stylesheetLink('/css/transitions.css');
	echo $this->tag->stylesheetLink('/css/style.css');
	echo $this->tag->stylesheetLink('/css/dbstyle.css');
	echo $this->tag->stylesheetLink('/css/color.css');
	echo $this->tag->stylesheetLink('/css/responsive.css');
	echo $this->tag->stylesheetLink('/css/dbresponsive.css');
	echo $this->assets->outputCss();
	echo $this->tag->javascriptInclude('/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js');
	?>
</head>
<body>
	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<!--************************************
			Preloader Start
			*************************************-->
			<div class="preloader-outer">
				<div class="pin"></div>
				<div class="pulse"></div>
			</div>
	<!--************************************
			Preloader End
			*************************************-->
	<!--************************************
			Wrapper Start
			*************************************-->
			<div id="listar-wrapper" class="listar-wrapper listar-haslayout">
		<!--************************************
				Header Start
				*************************************-->
				<header id="listar-dashboardheader" class="listar-dashboardheader listar-haslayout">
					<?php echo $this->partial('elements/dashboard/header') ?>
					<?php echo $this->partial('elements/dashboard/sidebar') ?>
				</header>
		<!--************************************
				Header End
				*************************************-->
		<!--************************************
				Main Start
				*************************************-->
				<main id="listar-main" class="listar-main listar-haslayout">
			<!--************************************
					Dashboard Banner Start
					*************************************-->
					<div class="listar-dashboardbanner">
						<ol class="listar-breadcrumb">
							<li><a href="javascript:void(0);">Home</a></li>
							<li class="listar-active">Dashboard</li>
						</ol>
						<h1>Dashboard</h1>
						<div class="listar-description">
							<p>Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra doloremque laudantium, totam rem aperiam</p>
						</div>
					</div>
			<!--************************************
					Dashboard Banner End
					*************************************-->
			<!--************************************
					Dashboard Alert Start
					*************************************-->
					<div class="lisatr-alert alert alert-success fade in alert-dismissable">
						<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
						<strong>Success!</strong> This alert box indicates a successful or positive action.
						<a class="listar-btnaction" href="javascript:void(0);">Do Action Now</a>
					</div>
			<!--************************************
					Dashboard Alert End
					*************************************-->
			<!--************************************
					Dashboard Content Start
					*************************************-->
					<div id="listar-content" class="listar-content">
						<form class="listar-formtheme listar-formaddlisting listar-formdashboard">
							<div class="row">
								<fieldset class="listar-statisticsarea">
									<ul class="listar-statistics">
										<li class="listar-activelists">
											<div class="listar-couterholder">
												<h3 data-from="0" data-to="38" data-speed="8000" data-refresh-interval="50">38</h3>
												<h4>Active Listings</h4>
												<div class="listar-statisticicon"><i class="icon-map3"></i></div>
											</div>
										</li>
										<li class="listar-newuser">
											<div class="listar-couterholder">
												<h3 data-from="0" data-to="315" data-speed="8000" data-refresh-interval="50">315</h3>
												<h4>New Users</h4>
												<div class="listar-statisticicon"><i class="icon-user2"></i></div>
											</div>
										</li>
										<li class="listar-weeksviews">
											<div class="listar-couterholder">
												<h3 data-from="0" data-to="9563" data-speed="8000" data-refresh-interval="50">9563</h3>
												<h4>Last Week Views</h4>
												<div class="listar-statisticicon"><i class="icon-linegraph"></i></div>
											</div>
										</li>
										<li class="listar-newfeedback">
											<div class="listar-couterholder">
												<h3 data-from="0" data-to="672" data-speed="8000" data-refresh-interval="50">672</h3>
												<h4>New Feedbacks</h4>
												<div class="listar-statisticicon"><i class="icon-bubble3"></i></div>
											</div>
										</li>
									</ul>
								</fieldset>
								<fieldset class="listar-generalstates">
									<div class="listar-generalstate">
										<h3>General Stats</h3>
										<div class="listar-description">
											<p>Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra doloremque laudantium</p>
										</div>
										<div id="listar-donutchart" class="listar-donutchart"></div>
										<div class="listar-description">
											<p>Phasellus viverra doloremque laudantium</p>
										</div>
									</div>
								</fieldset>
								<fieldset class="listar-postvisits">
									<div class="listar-postvisit">
										<h3>Post Visits</h3>
										<div id="listar-competingchart" class="listar-themechart listar-competingchart"></div>
									</div>
								</fieldset>
								<fieldset class="listar-dahoboarditems">
									<ul class="listar-items">
										<li class="listar-alllists">
											<div class="listar-item">
												<h4>All Listing</h4>
												<span>12 Items</span>
												<i class="icon-layers"></i>
											</div>
										</li>
										<li class="listar-pending">
											<div class="listar-item">
												<h4>All Listing</h4>
												<span>12 Items</span>
												<i class="icon-layers"></i>
											</div>
										</li>
										<li class="listar-punlished">
											<div class="listar-item">
												<h4>All Listing</h4>
												<span>12 Items</span>
												<i class="icon-layers"></i>
											</div>
										</li>
										<li class="listar-expired">
											<div class="listar-item">
												<h4>All Listing</h4>
												<span>12 Items</span>
												<i class="icon-layers"></i>
											</div>
										</li>
										<li class="listar-campaigns">
											<div class="listar-item">
												<h4>All Listing</h4>
												<span>12 Items</span>
												<i class="icon-layers"></i>
											</div>
										</li>
									</ul>
								</fieldset>
								<fieldset class="listar-reviewsactivities">
									<div class="listar-peoplereviews">
										<div class="listar-boxtitle">
											<h3>People Reviews</h3>
											<ul class="listar-actionbtns">
												<li><a href="javascript:void(0);">View All Reviews</a></li>
											</ul>
										</div>
										<div class="listar-recentactivities">
											<div class="listar-reviewarea">
												<ul class="listar-reviews listar-themescrollbar">
													<li>
														<figure>
															<img src="/images/author/img-11.jpg" alt="image description">
														</figure>
														<div class="listar-reviewcontent">
															<div class="listar-reviewhead">
																<div class="listar-reviewheading">
																	<h4><a href="javascript:void(0);">Good Service But Not ...</a></h4>
																</div>
															</div>
															<div class="listar-description">
																<p>Labore et dolore magna aliqua enim inim veniam quis nostrud exercitation ullamco...</p>
															</div>
															<span class="listar-stars"><span></span></span>
														</div>
													</li>
													<li>
														<figure>
															<img src="/images/author/img-12.jpg" alt="image description">
														</figure>
														<div class="listar-reviewcontent">
															<div class="listar-reviewhead">
																<div class="listar-reviewheading">
																	<h4><a href="javascript:void(0);">Good Service But Not ...</a></h4>
																</div>
															</div>
															<div class="listar-description">
																<p>Labore et dolore magna aliqua enim inim veniam quis nostrud exercitation ullamco...</p>
															</div>
															<span class="listar-stars"><span></span></span>
														</div>
													</li>
													<li>
														<figure>
															<img src="/images/author/img-13.jpg" alt="image description">
														</figure>
														<div class="listar-reviewcontent">
															<div class="listar-reviewhead">
																<div class="listar-reviewheading">
																	<h4><a href="javascript:void(0);">Good Service But Not ...</a></h4>
																</div>
															</div>
															<div class="listar-description">
																<p>Labore et dolore magna aliqua enim inim veniam quis nostrud exercitation ullamco...</p>
															</div>
															<span class="listar-stars"><span></span></span>
														</div>
													</li>
													<li>
														<figure>
															<img src="/images/author/img-11.jpg" alt="image description">
														</figure>
														<div class="listar-reviewcontent">
															<div class="listar-reviewhead">
																<div class="listar-reviewheading">
																	<h4><a href="javascript:void(0);">Good Service But Not ...</a></h4>
																</div>
															</div>
															<div class="listar-description">
																<p>Labore et dolore magna aliqua enim inim veniam quis nostrud exercitation ullamco...</p>
															</div>
															<span class="listar-stars"><span></span></span>
														</div>
													</li>
													<li>
														<figure>
															<img src="/images/author/img-12.jpg" alt="image description">
														</figure>
														<div class="listar-reviewcontent">
															<div class="listar-reviewhead">
																<div class="listar-reviewheading">
																	<h4><a href="javascript:void(0);">Good Service But Not ...</a></h4>
																</div>
															</div>
															<div class="listar-description">
																<p>Labore et dolore magna aliqua enim inim veniam quis nostrud exercitation ullamco...</p>
															</div>
															<span class="listar-stars"><span></span></span>
														</div>
													</li>
													<li>
														<figure>
															<img src="/images/author/img-13.jpg" alt="image description">
														</figure>
														<div class="listar-reviewcontent">
															<div class="listar-reviewhead">
																<div class="listar-reviewheading">
																	<h4><a href="javascript:void(0);">Good Service But Not ...</a></h4>
																</div>
															</div>
															<div class="listar-description">
																<p>Labore et dolore magna aliqua enim inim veniam quis nostrud exercitation ullamco...</p>
															</div>
															<span class="listar-stars"><span></span></span>
														</div>
													</li>
													<li>
														<figure>
															<img src="/images/author/img-11.jpg" alt="image description">
														</figure>
														<div class="listar-reviewcontent">
															<div class="listar-reviewhead">
																<div class="listar-reviewheading">
																	<h4><a href="javascript:void(0);">Good Service But Not ...</a></h4>
																</div>
															</div>
															<div class="listar-description">
																<p>Labore et dolore magna aliqua enim inim veniam quis nostrud exercitation ullamco...</p>
															</div>
															<span class="listar-stars"><span></span></span>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="listar-recentactivity">
										<div class="listar-boxtitle">
											<h3>Recent Activities</h3>
										</div>
										<div class="listar-recentactivities">
											<div class="listar-reviewarea">
												<ul class="listar-reviews listar-themescrollbar">
													<li class="listar-starractivity">
														<i class="icon-star3"></i>
														<div class="listar-activitytitle">
															<h4>Peter Parker left a review <span>5.0</span> on<strong>Restaurant</strong></h4>
														</div>
													</li>
													<li class="listar-layers">
														<i class="icon-layers"></i>
														<div class="listar-activitytitle">
															<h4>Your listing <strong>Local Service</strong> has been approved</h4>
														</div>
													</li>
													<li class="listar-heart">
														<i class="icon-heart2"></i>
														<div class="listar-activitytitle">
															<h4>Someone bookmarked your <strong>Restaurant</strong> listing</h4>
														</div>
													</li>
													<li class="listar-heart">
														<i class="icon-heart2"></i>
														<div class="listar-activitytitle">
															<h4>Someone bookmarked your <strong>Restaurant</strong> listing</h4>
														</div>
													</li>
													<li class="listar-heart">
														<i class="icon-heart2"></i>
														<div class="listar-activitytitle">
															<h4>Peter Parker left a review <span>5.0</span> on<strong>Restaurant</strong></h4>
														</div>
													</li>
													<li class="listar-starractivity">
														<i class="icon-star3"></i>
														<div class="listar-activitytitle">
															<h4>Peter Parker left a review <span>5.0</span> on<strong>Restaurant</strong></h4>
														</div>
													</li>
													<li class="listar-starractivity">
														<i class="icon-star3"></i>
														<div class="listar-activitytitle">
															<h4>Peter Parker left a review <span>5.0</span> on<strong>Restaurant</strong></h4>
														</div>
													</li>
													<li class="listar-starractivity">
														<i class="icon-star3"></i>
														<div class="listar-activitytitle">
															<h4>Peter Parker left a review <span>5.0</span> on<strong>Restaurant</strong></h4>
														</div>
													</li>
													<li class="listar-layers">
														<i class="icon-layers"></i>
														<div class="listar-activitytitle">
															<h4>Your listing <strong>Local Service</strong> has been approved</h4>
														</div>
													</li>
													<li class="listar-heart">
														<i class="icon-heart2"></i>
														<div class="listar-activitytitle">
															<h4>Someone bookmarked your <strong>Restaurant</strong> listing</h4>
														</div>
													</li>
													<li class="listar-heart">
														<i class="icon-heart2"></i>
														<div class="listar-activitytitle">
															<h4>Someone bookmarked your <strong>Restaurant</strong> listing</h4>
														</div>
													</li>
													<li class="listar-heart">
														<i class="icon-heart2"></i>
														<div class="listar-activitytitle">
															<h4>Peter Parker left a review <span>5.0</span> on<strong>Restaurant</strong></h4>
														</div>
													</li>
													<li class="listar-starractivity">
														<i class="icon-star3"></i>
														<div class="listar-activitytitle">
															<h4>Peter Parker left a review <span>5.0</span> on<strong>Restaurant</strong></h4>
														</div>
													</li>
													<li class="listar-starractivity">
														<i class="icon-star3"></i>
														<div class="listar-activitytitle">
															<h4>Peter Parker left a review <span>5.0</span> on<strong>Restaurant</strong></h4>
														</div>
													</li>
													<li class="listar-starractivity">
														<i class="icon-star3"></i>
														<div class="listar-activitytitle">
															<h4>Peter Parker left a review <span>5.0</span> on<strong>Restaurant</strong></h4>
														</div>
													</li>
													<li class="listar-layers">
														<i class="icon-layers"></i>
														<div class="listar-activitytitle">
															<h4>Your listing <strong>Local Service</strong> has been approved</h4>
														</div>
													</li>
													<li class="listar-heart">
														<i class="icon-heart2"></i>
														<div class="listar-activitytitle">
															<h4>Someone bookmarked your <strong>Restaurant</strong> listing</h4>
														</div>
													</li>
													<li class="listar-heart">
														<i class="icon-heart2"></i>
														<div class="listar-activitytitle">
															<h4>Someone bookmarked your <strong>Restaurant</strong> listing</h4>
														</div>
													</li>
													<li class="listar-heart">
														<i class="icon-heart2"></i>
														<div class="listar-activitytitle">
															<h4>Peter Parker left a review <span>5.0</span> on<strong>Restaurant</strong></h4>
														</div>
													</li>
													<li class="listar-starractivity">
														<i class="icon-star3"></i>
														<div class="listar-activitytitle">
															<h4>Peter Parker left a review <span>5.0</span> on<strong>Restaurant</strong></h4>
														</div>
													</li>
													<li class="listar-starractivity">
														<i class="icon-star3"></i>
														<div class="listar-activitytitle">
															<h4>Peter Parker left a review <span>5.0</span> on<strong>Restaurant</strong></h4>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</fieldset>
							</div>
						</form>
					</div>
			<!--************************************
						Dashboard Content End
						*************************************-->
					</main>
		<!--************************************
					Main End
					*************************************-->
		<!--************************************
					Footer Start
					*************************************-->
					<?php echo $this->partial('elements/dashboard/footer') ?>
		<!--************************************
					Footer End
					*************************************-->
				</div>
	<!--************************************
				Wrapper End
				*************************************-->
				<?php echo $this->tag->javascriptInclude('/js/vendor/jquery-library.js');
				echo $this->tag->javascriptInclude('/js/vendor/bootstrap.min.js');
				echo $this->tag->javascriptInclude('/js/mapclustering/data.json');
				echo $this->tag->javascriptInclude('https://maps.google.com/maps/api/js?key=AIzaSyCR-KEWAVCn52mSdeVeTqZjtqbmVJyfSus&amp;language=en');
				echo $this->tag->javascriptInclude('/js/tinymce/tinymce.min.js?apiKey=4cuu2crphif3fuls3yb1pe4qrun9pkq99vltezv2lv6sogci');
				echo $this->tag->javascriptInclude('https://www.gstatic.com/charts/loader.js');
				echo $this->tag->javascriptInclude('/js/mapclustering/markerclusterer.min.js');
				echo $this->tag->javascriptInclude('/js/mapclustering/infobox.js');
				echo $this->tag->javascriptInclude('/js/mapclustering/map.js');
				echo $this->tag->javascriptInclude('/js/ResizeSensor.js.js');
				echo $this->tag->javascriptInclude('/js/jquery.sticky-sidebar.js');
				echo $this->tag->javascriptInclude('/js/YouTubePopUp.jquery.js');
				echo $this->tag->javascriptInclude('/js/jquery.navhideshow.js');
				echo $this->tag->javascriptInclude('/js/backgroundstretch.js');
				echo $this->tag->javascriptInclude('/js/jquery.sticky-kit.js');
				echo $this->tag->javascriptInclude('/js/bootstrap-slider.js');
				echo $this->tag->javascriptInclude('/js/owl.carousel.min.js');
				echo $this->tag->javascriptInclude('/js/jquery.vide.min.js');
				echo $this->tag->javascriptInclude('/js/auto-complete.js');
				echo $this->tag->javascriptInclude('/js/chosen.jquery.js');
				echo $this->tag->javascriptInclude('/js/scrollbar.min.js');
				echo $this->tag->javascriptInclude('/js/isotope.pkgd.js');
				echo $this->tag->javascriptInclude('/js/jquery.steps.js');
				echo $this->tag->javascriptInclude('/js/prettyPhoto.js');
				echo $this->tag->javascriptInclude('/js/raphael-min.js');
				echo $this->tag->javascriptInclude('/js/parallax.js');
				echo $this->tag->javascriptInclude('/js/sortable.js');
				echo $this->tag->javascriptInclude('/js/countTo.js');
				echo $this->tag->javascriptInclude('/js/appear.js');
				echo $this->tag->javascriptInclude('/js/gmap3.js');
				echo $this->tag->javascriptInclude('/js/dev_themefunction.js');
				?>
			</body>
			</html>