<div class="listar-homebannerslider">
    <div id="listar-homeslider" class="listar-homeslider owl-carousel">
        <div class="item"><figure><img src="/img/masjid/main-bg.jpg" alt="DKM.or.id"></figure></div>
    </div>
    <div class="listar-homebanner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="listar-bannercontent">
                        <h1>Temukan Masjid</h1>
                        <div class="listar-description">
                            <p>Temukan masjid berdasarkan nama dan lokasi</p>
                        </div>
                        <form class="listar-formtheme listar-formsearchlisting" action="/dkm/search">
                            <fieldset>
                                <div class="form-group listar-inputwithicon">
                                    <i class="icon-layers"></i>
                                    <div class="listar-select">
                                        <select name="type" id="listar-categorieschosen" class="listar-categorieschosen listar-chosendropdown">
                                            <option>Ex: Masjid,Kajian</option>
                                            <option class="icon-entertainment" value="dkm">DKM Masjid</option>
                                            <option class="icon-spa" value="event">Kajian</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group listar-inputwithicon">
                                    <i class="icon-global"></i>
                                    <div class="listar-select listar-selectlocation">
                                        <select name="kota" id="listar-locationchosen" class="listar-locationchosen listar-chosendropdown">
                                            <option>-- Pilih lokasi --</option>
                                            <?php foreach($kota as $k){?>
                                            <option value="<?php echo $k->id;?>"><?php echo $k->name;?></option>
                                            <?php }?>
                                        </select>
                                    </div>
                                </div>
                                <button type="submit" class="listar-btn listar-btngreen">Cari</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<main id="listar-main" class="listar-main listar-haslayout">
    <section class="listar-sectionspace listar-haslayout">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="listar-sectionhead">
                        <div class="listar-sectiontitle">
                            <h2>Jelajahi Masjid</h2>
                        </div>
                        <div class="listar-description">
                            <p>Anda dapat melihat profil masjid sesuai dengan kategorinya</p>
                        </div>
                    </div>
                </div>
                <div class="listar-themeposts listar-categoryposts">
                    <?php foreach ($categories as $category): ?>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="listar-themepost listar-categorypost">
                                <figure class="listar-featuredimg">
                                    <a href="/category/<?php echo $category->id ?>/<?php echo $category->slug ?>">
                                        <img src="/img/masjid/<?php echo $category->image ?>" alt="image description">
                                        <div class="listar-contentbox">
                                            <div class="listar-postcontent">
                                                <span class="listar-categoryicon listar-flip"><i class="icon-tourism"></i></span>
                                                <h3><?php echo $category->name ?></h3>
                                            </div>
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </div>
                    <?php endforeach ?>
                </div>
            </div>
        </div>
    </section>
    <section class="listar-sectionspace listar-bglight listar-haslayout">
        <div class="container">
            <div class="row">
                <div class="listar-features">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="listar-feature">
                            <span class="listar-featureicon"><i class="icon-layers"></i></span>
                            <h2>Pilih Kategori</h2>
                            <div class="listar-description">
                                <p>Anda dapat melihat informasi masjid berdasarkan kategori yang anda dipilih</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="listar-feature">
                            <span class="listar-featureicon"><i class="icon-map3"></i></span>
                            <h2>Temukan Lokasi</h2>
                            <div class="listar-description">
                                <p>Anda dapat melihat informasi masjid berdasarkan Lokasi yang anda dipilih</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="listar-feature">
                            <span class="listar-featureicon"><i class="icon-hotairballoon"></i></span>
                            <h2>Jelajahi</h2>
                            <div class="listar-description">
                                <p>Saatnya anda menjelajahi Masjid yang anda pilih</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="listar-sectionspace listar-bglight listar-haslayout" style="background-color: #ffffff;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="listar-sectionhead">
                        <div class="listar-sectiontitle">
                            <h2>Masjid Yang Baru Tergabung</h2>
                        </div>
                        <div class="listar-description">
                            <p>Daftar masjid yang baru saja tergabung dengan platform kami. <br>Masjid anda kapan ???</p>
                        </div>
                    </div>
                    <div class="listar-horizontalthemescrollbar">
                        <div class="listar-themeposts listar-placesposts">
                            <?php foreach ($mosque as $mosque): ?>
                                <div class="listar-themepost listar-placespost">
                                    <figure class="listar-featuredimg">
                                        <a href="/dkm/<?php echo $mosque->id ?>/<?php echo $mosque->slug ?>">
                                            <img src="/img/masjid/member/<?php echo $mosque->image ?>" alt="Masjid <?php echo $mosque->name ?>">
                                        </a>
                                    </figure>
                                    <div class="listar-postcontent">
                                        <h3><a href="/dkm/view/<?php echo $mosque->id ?>">Masjid <?php echo $mosque->name ?></a></h3>
                                        <div class="listar-description">
                                            <p><?php echo substr(strip_tags($mosque->description),0,50); ?>..</p>
                                        </div>
                                        <div class="listar-reviewcategory">
                                            <div class="listar-review">
                                                <span class="listar-stars"><span></span></span>
                                                <em>(<?php echo count($mosque->reviews); ?> Review)</em>
                                            </div>
                                        </div>
                                        <div class="listar-themepostfoot">
                                            <a class="listar-location" href="javascript:void(0);">
                                                <i class="icon-icons74"></i>
                                                <em><?php echo $mosque->location ?></em>
                                            </a>
                                            <div class="listar-postbtns">
                                                <a class="listar-btnquickinfo" href="#" data-toggle="modal" data-target=".listar-placequickview"><i class="icon-expand"></i></a>
                                                <a class="listar-btnquickinfo" href="javascript:void(0);"><i class="icon-heart2"></i></a>
                                                <div class="listar-btnquickinfo">
                                                    <div class="listar-shareicons">
                                                        <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                                        <a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                                                        <a href="javascript:void(0);"><i class="fa fa-pinterest-p"></i></a>
                                                    </div>
                                                    <a class="listar-btnshare" href="javascript:void(0);">
                                                        <i class="icon-share3"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <?php endforeach ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--************************************
                    Discover New Places End
                    *************************************-->
    <!--************************************
                    Add Listing Start
                    *************************************-->
    <section class="listar-themeparallax" data-appear-top-offset="600" data-parallax="scroll" data-image-src="/img/masjid/backgroundmasjid.jpg">
        <div class="listar-parallaxcolor listar-parallaxaddlisting">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-push-2 col-md-8 col-lg-push-2 col-lg-8">
                        <div class="listar-addlisting">
                            <h2>Bergabung dengan kami sekarang <br> Kelola Manajemen Masjid Anda dengan Cepat dan Akurat</h2>
                            <a class="listar-btn listar-btngreen" href="#listar-loginsingup">
                                <i class="icon-plus"></i>
                                <span>Daftar</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="listar-sectionspace listar-haslayout listar-bglight">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="listar-sectionhead">
                        <div class="listar-sectiontitle">
                            <h2>Berita dan Artikel Terbaru</h2>
                        </div>
                        <div class="listar-description">
                            <p>Lihat Berita dan Artikel Terbaru dari <a class="listar-bluethemecolor" href="javascript:void(0);">Blog Kami</a></p>
                        </div>
                    </div>
                </div>
                <div class="listar-themeposts listar-blogposts">
                    <?php foreach ($posts as $post): ?>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="listar-themepost listar-post">
                                <figure class="listar-featuredimg">
                                    <a href="/berita/<?php echo $post->id ?>/<?php echo $post->slug ?>"><img src="/img/posts/<?= $post->image ?>" alt="image description"></a>
                                    <a class="listar-postcategory" href="#"><?php echo $post->category->name ?></a>
                                </figure>
                                <div class="listar-postcontent">
                                    <figure class="listar-authorimg"><img src="/images/author/img-01.jpg" height="54" width="54" alt="image description"></figure>
                                    <h3><a href="/berita/<?php echo $post->id ?>/<?php echo $post->slug ?>"><?php echo $post->title ?></a></h3>
                                    <div class="listar-themepostfoot">
                                        <time datetime="2017-08-08">
                                            <i class="icon-clock4"></i>
                                            <span><?php echo date('d-m-y', strtotime($post->created)) ?></span>
                                        </time>
                                        <span class="listar-postcomment">
                                            <i class="icon-comment"></i>
                                            <span>3 Comments</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <?php endforeach ?>
                </div>
            </div>
        </div>
    </section>
    <section class="listar-sectionspace listar-haslayout">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="listar-sectionhead">
                        <div class="listar-sectiontitle">
                            <h2>Testimoni Pengguna</h2>
                        </div>
                        <div class="listar-description">
                            <p>Apa yang mereka katakan <br> <a class="listar-bluethemecolor" href="javascript:void(0);">Lihat Semua</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-push-2 col-lg-8">
                    <div id="listar-testimonialslider" class="listar-testimonialslider listar-testimonials owl-carousel">
                        <div class="item listar-testimonial">
                            <figure>
                                <img src="/img/avatars/1.jpg" alt="image description">
                                <figcaption>
                                    <h3>John Doe</h3>
                                    <h4>Manager at GreenTech</h4>
                                </figcaption>
                            </figure>
                            <blockquote>
                                <h5>Good Design</h5>
                                <q>Lorem ipsum dolor sit amet, eu per legimus referrentur. Ius ne viris repudiare, nominavi sententiae eos in. Et duo salutatus consequat Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, eu per legimus referrentur. Ius ne viris repudiare, nominavi sententiae eos in. Et duo salutatus consequat.</q>
                            </blockquote>
                        </div>
                        <div class="item listar-testimonial">
                            <figure>
                                <img src="/img/avatars/2.jpg" alt="image description">
                                <figcaption>
                                    <h3>Nikko Febika</h3>
                                    <h4>Big Bosss</h4>
                                </figcaption>
                            </figure>
                            <blockquote>
                                <h5>Good Design</h5>
                                <q>Lorem ipsum dolor sit amet, eu per legimus referrentur. Ius ne viris repudiare, nominavi sententiae eos in. Et duo salutatus consequat Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, eu per legimus referrentur. Ius ne viris repudiare, nominavi sententiae eos in. Et duo salutatus consequat.</q>
                            </blockquote>
                        </div>
                        <div class="item listar-testimonial">
                            <figure>
                                <img src="/img/avatars/3x.jpg" alt="image description">
                                <figcaption>
                                    <h3>Yudi Pratama</h3>
                                    <h4>Manager at GreenTech</h4>
                                </figcaption>
                            </figure>
                            <blockquote>
                                <h5>Good Design</h5>
                                <q>Lorem ipsum dolor sit amet, eu per legimus referrentur. Ius ne viris repudiare, nominavi sententiae eos in. Et duo salutatus consequat Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, eu per legimus referrentur. Ius ne viris repudiare, nominavi sententiae eos in. Et duo salutatus consequat.</q>
                            </blockquote>
                        </div>
                        <div class="item listar-testimonial">
                            <figure>
                                <img src="/img/avatars/ilham.jpg" alt="image description">
                                <figcaption>
                                    <h3>Ilham Mujahiddin</h3>
                                    <h4>Ketua Dkm</h4>
                                </figcaption>
                            </figure>
                            <blockquote>
                                <h5>Good Design</h5>
                                <q>Lorem ipsum dolor sit amet, eu per legimus referrentur. Ius ne viris repudiare, nominavi sententiae eos in. Et duo salutatus consequat Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, eu per legimus referrentur. Ius ne viris repudiare, nominavi sententiae eos in. Et duo salutatus consequat.</q>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="listar-sectionspace listar-haslayout">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="listar-sectionhead">
                        <div class="listar-sectiontitle">
                            <h2>Partner Kami</h2>
                        </div>
                    </div>
                </div>
                <div id="listar-threecolumnsslider" class="listar-themeposts listar-listingvtwo listar-threecolumnsslider owl-carousel">
                    <div class="item">
                        <div class="listar-themepost listar-placespost">
                            <figure class="listar-featuredimg">
                                <a href="https://skripsi.co.id/"><img src="img/partner/ebooks-skripsi.png" alt="Referensi Skripsi, Thesis skripsi.co.id"></a>
                            </figure>
                        </div>
                    </div>
                    <div class="item">
                        <div class="listar-themepost listar-placespost">
                            <figure class="listar-featuredimg">
                                <a href="https://match.co.id/"><img src="img/partner/match.png" alt="Konsultan Parkir dan penyedia sistem parkir"></a>
                            </figure>
                        </div>
                    </div>
                    <div class="item">
                        <div class="listar-themepost listar-placespost">
                            <figure class="listar-featuredimg">
                                <a href="https://www.gaivo-systemworks.com/"><img src="img/partner/gaivo-systemworks.png" alt="Gaivosystemworks konsultan IT jakarta"></a>
                            </figure>
                        </div>
                    </div>
                    <div class="item">
                        <div class="listar-themepost listar-placespost">
                            <figure class="listar-featuredimg">
                                <a href="https://okekerja.com/"><img src="img/partner/oke-kerja.png" alt="okekerja.com"></a>
                                <!-- <div class="listar-postcontent">
                                    <h3><a href="detailv2.html">Tourist Guide</a></h3>
                                </div> -->
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
