<!--************************************
				Inner Banner Start
		*************************************-->
		<div class="listar-innerbanner" style="background-image:url('/img/masjid/bgmasjid.png');">
			<div class="listar-parallaxcolor listar-innerbannerparallaxcolor">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="listar-innerbannercontent">
								<div class="listar-pagetitle">
									<h1>Kelola Masjid Anda Sekarang</h1>
								</div>
								<ol class="listar-breadcrumb">
									<a class="listar-btn listar-btngreen" href="/login">
                                <i class="icon-plus"></i>
                                <span>Daftar</span>
                            </a>
								</ol>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--************************************
				Inner Banner End
		*************************************-->
		<!--************************************
				Main Start
		*************************************-->
		<main id="listar-main" class="listar-main listar-haslayout">
			<section class="listar-sectionspace listar-bglight listar-haslayout">
				<div class="container">
					<div class="row">
						<div class="listar-features listar-featuresvthree">
							<h2>Kenapa Anda Harus Mendaftar?</h2>
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="listar-feature">
									<i class="icon-mapmarker"></i>
									<h2><span class="listar-bluethemecolor">01</span> Membuat Lokasi Masjid Anda Diketahui Orang</h2>
									<div class="listar-description">
										<p>Banyak Orang yang belum mengetahui Lokasi-lokasi Masjid yang berada Di kota Anda</p>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="listar-feature">
									<i class="icon-users3"></i>
									<h2><span class="listar-bluethemecolor">02</span> Membuat Remaja Masjid Aktif</h2>
									<div class="listar-description">
										<p>Remaja Masjid Bisa Aktif Dalam Membuat Kajian-kajian Tentang Masjid, Sehingga Semua Orang Bisa Melihat Kajian Yang Sudah Dibuat</p>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="listar-feature">
									<i class="icon-world"></i>
									<h2><span class="listar-bluethemecolor">03</span>Acara Yang Anda Buat Diketahui Banyak Orang</h2>
									<div class="listar-description">
										<p>Setelah Mendaftarkan Masjid Anda, Orang-orang Disekitar Kota Anda Bisa Mengetahui Acara Yang Ada Pada Masjid Anda, Sehingga Ketika Anda Membuat Acara Tidak Perlu Lagi Membuat Brosur</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="listar-sectionspace listar-haslayout">
				<div class="container">
					<div class="row">
						<h2>Apa Saja Yang bisa Anda Kelola</h2>
						<div class="listar-features listar-featuresvtwo">
							<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
								<div class="listar-feature">
									<i class="icon-museum"></i>
									<h2>Masjid</h2>
									<div class="listar-description">
										<p>Anda Dapat Menentukan Lokasi Masjid, Membuat Gallery Foto Tentang Masjid Anda</p>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
								<div class="listar-feature">
									<i class="icon-users2"></i>
									<h2>Jamaah</h2>
									<div class="listar-description">
										<p>Anda Dapat Mengelola Jamaah Masjid, Anda Juga dapat Menambahkan Pengurus Masjid</p>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
								<div class="listar-feature">
									<i class="icon-creditcards"></i>
									<h2>Keuangan</h2>
									<div class="listar-description">
										<p>Anda Dapat Mengelola Data Keuangan, Pengeluaran Masjid dan Pemasukan Masjid</p>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
								<div class="listar-feature">
									<i class="icon-blog"></i>
									<h2>Blog</h2>
									<div class="listar-description">
										<p>Anda Dapat Membuat Artikel Tentang Masjid Anda</p>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
								<div class="listar-feature">
									<i class="icon-conference"></i>
									<h2>Acara</h2>
									<div class="listar-description">
										<p>Anda juga dapat membuat Acara-acara Seperti Kajian, Isra Miraj dan lain lain</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="listar-sectionspace listar-bglight listar-haslayout">
				<div class="container">
					<div class="row">
						<div class="listar-features">
							<h1>Persyaratan Dalam Mendaftar Sebagai Pengelola Masjid</h1>
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="listar-feature">
									<span class="listar-featureicon"><i class="icon-museum"></i></span>
									<h2><span class="listar-bluethemecolor">01</span> Pilih Masjid</h2>
									<div class="listar-description">
										<p>Pilih Masjid yang sesuai dengan tempat Tinggal Anda</p>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="listar-feature">
									<span class="listar-featureicon"><i class="icon-document3"></i></span>
									<h2><span class="listar-bluethemecolor">02</span> Isi Data Diri</h2>
									<div class="listar-description">
										<p>Lampirkan Foto Copy KTP Anda, Jika data yang anda masukkan Sesuai dengan lokasi masjid maka Kami akan Terima Data Anda</p>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
								<div class="listar-feature">
									<span class="listar-featureicon"><i class="icon-information"></i></span>
									<h2><span class="listar-bluethemecolor">03</span> Tunggu Konfirmasi </h2>
									<div class="listar-description">
										<p>Tunggu Beberapa Saat sampai Team Kami Cek Data Diri Anda</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
		<!--************************************
				Main End
		*************************************-->
