<!-- Modal Login-->
<div id="login" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Login</h4>
			</div>
			<div class="modal-body">
				<?php echo $this->tag->form(array('action' => '/session/login' ,'class' => 'form')); ?>
				<?php echo $this->flashSession->output(); ?>
					<fieldset>
						<div class="form-group">
							<?php echo $form->render('email', array('class' => 'form-control')); ?>
						</div>
						<div class="form-group">
							<?php echo $form->render('password', array('class' => 'form-control')); ?>
						</div>
						<div class="checkbox">
							<label>
								<?php echo $form->render('remember') ?>
							</label>
						</div>
						<?php echo $form->render('csrf', array('value' => $this->security->getToken())); ?>
						<?php echo $form->render('Sign In', array('class' => 'btn btn-sm btn-success pull-right')); ?>
					</fieldset>
				<?php //echo $form->render('csrf',array('value'=>$this->security->getToken()));   ?>
				<a href="/session/resend_activation">Kirim ulang email aktivasi</a>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal Register-->
<div id="daftar" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Login</h4>
			</div>
			<div class="modal-body">
				<?php echo $this->tag->form(array('action' => '/session/signup','class' => 'form-search', 'id' => 'form')); ?>
                <table class="table table-striped">
                    <tr>
                        <td align="center"><?php echo $formDaftar->label('name'); ?></td>
                        <td>
                            <?php echo $formDaftar->render('name', array('class' => 'form-control')); ?>
                        </td>
                    </tr>
                    <tr>
                        <td align="center"><?php echo $formDaftar->label('email'); ?></td>
                        <td>
                            <?php echo $formDaftar->render('email', array('class' => 'form-control')); ?>
                        </td>
                    </tr>
                    <tr>
                        <td align="center"><?php echo $formDaftar->label('phone'); ?></td>
                        <td>
                            <?php echo $formDaftar->render('phone', array('class' => 'form-control')); ?>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" id="pswd2" name="pass"><?php echo $formDaftar->label('password'); ?></td>
                        <td>
                            <?php echo $formDaftar->render('password', array('class' => 'form-control password', 'id' => 'pass')); ?>
                        </td>
                    </tr>
                    <tr>
                        <td align="center"></td>
                        <td><?php echo $formDaftar->render('Sign Up', array('class' => 'btn btn-primary', 'id' => 'submit')); ?></td>
                    </tr>
                </table>
                <?php echo $formDaftar->render('csrf', array('value' => $this->security->getToken())); ?>
                <div class="forgot">
                    <?php echo $this->tag->linkTo(array('session/login', 'Sign In')); ?>
                </div>
                </form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>