
		<div class="listar-innerbanner">
			<div class="listar-parallaxcolor listar-innerbannerparallaxcolor">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="listar-innerbannercontent">
								<div class="listar-pagetitle">
									<h1>Testimonials</h1>
								</div>
								<ol class="listar-breadcrumb">
									<li><a href="javascript:void(0);">Home</a></li>
									<li><a href="javascript:void(0);">Pages</a></li>
									<li class="listar-active"><span>Testimonials</span></li>
								</ol>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--************************************
				Inner Banner End
		*************************************-->
		<!--************************************
				Main Start
		*************************************-->
		<main id="listar-main" class="listar-main listar-innerspeace listar-bglight listar-haslayout">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div id="listar-content" class="listar-content">
							<div id="listar-testimonials" class="listar-testimonials listar-testimonialsvtwo">
								<div class="listar-testimonial">
									<div class="listar-testimonialholder">
										<span class="listar-iconquote"><img src="/images/icons/icon-06.png" alt="image description"></span>
										<h2>Amazing Services</h2>
										<blockquote><q>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh tempor cum soluta nobis consectetuer nihil imperdiet doming consectetuer adipiscing elit, sed diam nonummy nibh tempor.</q></blockquote>
										<h3>John Smith</h3>
										<h4>Entrepreneur</h4>
									</div>
								</div>
								<div class="listar-testimonial">
									<div class="listar-testimonialholder">
										<span class="listar-iconquote"><img src="/images/icons/icon-06.png" alt="image description"></span>
										<h2>Exellent Support</h2>
										<blockquote><q>nisi ut aliquid ex ea comm odi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse Tender loin fatback shank ball tip pastrami pork chop strip steak. Swine kielbasa pig doner ribeye andouille pastrami pork kevin. Pork loin chuck ham pork capicola. Pancetta t-bone cow drumstick tail jowl salami tri-tip shank pig turkey turducken ground round pork swine. Prosciutto tri-tip bresaola t-bone boudin doner ribeye andouille pastrami.</q></blockquote>
										<h3>John Smith</h3>
										<h4>Entrepreneur</h4>
									</div>
								</div>
								<div class="listar-testimonial">
									<div class="listar-testimonialholder">
										<span class="listar-iconquote"><img src="/images/icons/icon-06.png" alt="image description"></span>
										<h2>Amazing Services</h2>
										<blockquote><q>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh tempor cum soluta nobis consectetuer nihil imperdiet doming consectetuer adipiscing elit, sed diam nonummy nibh tempor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh tempor.</q></blockquote>
										<h3>John Smith</h3>
										<h4>Entrepreneur</h4>
									</div>
								</div>
								<div class="listar-testimonial">
									<div class="listar-testimonialholder">
										<span class="listar-iconquote"><img src="/images/icons/icon-06.png" alt="image description"></span>
										<h2>Amazing Services</h2>
										<blockquote><q>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh tempor cum soluta nobis consectetuer nihil imperdiet doming consectetuer adipiscing elit, sed diam nonummy nibh tempor.</q></blockquote>
										<h3>John Smith</h3>
										<h4>Entrepreneur</h4>
									</div>
								</div>
								<div class="listar-testimonial">
									<div class="listar-testimonialholder">
										<span class="listar-iconquote"><img src="/images/icons/icon-06.png" alt="image description"></span>
										<h2>Amazing Services</h2>
										<blockquote><q>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh tempor cum soluta nobis consectetuer nihil imperdiet.</q></blockquote>
										<h3>John Smith</h3>
										<h4>Entrepreneur</h4>
									</div>
								</div>
								<div class="listar-testimonial">
									<div class="listar-testimonialholder">
										<span class="listar-iconquote"><img src="/images/icons/icon-06.png" alt="image description"></span>
										<h2>Amazing Services</h2>
										<blockquote><q>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh tempor cum soluta nobis consectetuer nihil imperdiet doming consectetuer adipiscing elit, sed diam nonummy nibh tempor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh tempor.</q></blockquote>
										<h3>John Smith</h3>
										<h4>Entrepreneur</h4>
									</div>
								</div>
								<div class="listar-testimonial">
									<div class="listar-testimonialholder">
										<span class="listar-iconquote"><img src="/images/icons/icon-06.png" alt="image description"></span>
										<h2>Amazing Services</h2>
										<blockquote><q>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh tempor cum soluta nobis consectetuer nihil imperdiet. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh tempor cum soluta nobis consectetuer nihil imperdiet.</q></blockquote>
										<h3>John Smith</h3>
										<h4>Entrepreneur</h4>
									</div>
								</div>
								<div class="listar-testimonial">
									<div class="listar-testimonialholder">
										<span class="listar-iconquote"><img src="/images/icons/icon-06.png" alt="image description"></span>
										<h2>Amazing Services</h2>
										<blockquote><q>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh tempor cum soluta nobis consectetuer nihil imperdiet.</q></blockquote>
										<h3>John Smith</h3>
										<h4>Entrepreneur</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>