

<main>
    <div class="container teacher-page">
        <div class="row">
            <div class="col-sm-3 text-center">
                <img src="https://android-ebook.gaivo.co.id/images/thumbs/<?php echo $author->author_image ?>" alt="Avatar" class="teacher-avatar">

            </div>
            <div class="col-sm-9">
                <h5> <?php echo $author->author_name ?></h5>
                <p class="class-details">	
                    <span class="lessons"><i class="zmdi zmdi-book"></i></i><?php echo count($author->book) ?> Books</span>
                    <span class="views"><i class="zmdi zmdi-eye"></i><?php echo $author->total_views ?></span>
                    <span class="rating"><i class="zmdi zmdi-star"></i><?php echo $author->total_rating ?></span>
                </p>
            </div>
        </div>
    </div>
    <div class="container popular">
        <h4><?php echo $author->author_name ?> Books</h4>
        <div class="row tutorials">
            <?php foreach ($author->book as $books): ?>
                <div class="tutorial">
                    <img src="https://android-ebook.gaivo.co.id/images/thumbs/<?php echo $books->book_cover_img ?>" class="foto" alt="Tutorial">
                    <div class="tutorial-details">
                        <h6><?php echo $books->book_title ?></h6>
                        <p><span class="lessons"><i class="zmdi zmdi-assignment"></i><?php echo $books->book_views ?></span><span class="duration"><i class="zmdi zmdi-star"></i><?php echo $books->rate_avg ?></span></p>
                        <p class="abs"><?php echo substr(strip_tags($books->book_description), 0, 150) . ".." ?></p>
                        <a href="/books/view/<?php echo $books->id ?>/<?php echo $books->slug ?>" class="greybutton">VIEW COURSE</a>
                    </div>
                </div>
            <?php endforeach ?>
        </div>
    </div>
</main>