<main>

    <div class="page-heading text-center">
        <h2>ALL AUTHORS</h2>
    </div>
    <div class="container teachers-browse pros">
        <div class="row toolbar">
            <div class="col-md-4 col-sm-6 col-xs-12 select-categories">
                <select class="jquery-select">	
                    <option>choose a category</option>
                    <option value="1">Category 1</option>
                    <option value="2">Category 2</option>
                    <option value="3">Category 3</option>
                </select>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 select-numofvids">
                <select class="jquery-select">	
                    <option>number of videos</option>
                    <option value="1">2</option>
                    <option value="2">4</option>
                    <option value="3">8</option>
                </select>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 select-name">
                <select class="jquery-select">	
                    <option>name</option>
                    <option value="1">Name 1</option>
                    <option value="2">Name 2</option>
                    <option value="3">Name 3</option>
                </select>
            </div>
            <div class="col-sm-6 col-xs-12 text-keywords">
                <input class="keywords" name="keywords" type="text" placeholder="keywords">	
            </div>
            <div class="col-sm-6 col-xs-12 search-button">
                <button class="search-teachers">SEARCH</button>
            </div>
        </div>
        <div class="row text-center">
            <?php foreach ($page->items as $author): ?>
                <div class="col-md-2 col-sm-4 col-xs-6">		
                    <div class="teacher">
                        <div class="imgcontainer">
                            <img src="https://android-ebook.gaivo.co.id/images/thumbs/<?php echo $author->author_image ?>" alt="Avatar">
                            <div class="overlay">
                                <img src="assets/images/avatars/novel.jpg" alt="Profile">
                                <p><?php echo count($author->book) ?> Books</p>
                            </div>
                        </div>
                        <a href="/authors/detail/<?php echo $author->author_id ?>/<?php echo $author->author_slug ?>"><?php echo $author->author_name ?></a>
                    </div>
                </div>
            <?php endforeach ?>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-xs-12">
            <div class="paginations">
                <a class="prev" href='/authors?page=<?= $page->before; ?>'><i class="zmdi zmdi-chevron-left"></i>PREV</a>
                <?php for ($i = 1; $i <= $page->total_pages; $i++) { ?>
                    <a href="/authors?page=<?php echo $i ?>" <?php if ($i == $page->current) {
                    echo 'class="active"';
                } ?>><?php echo $i; ?></a>
<?php } ?>
                <a class="next" href='/authors?page=<?= $page->next; ?>'>NEXT<i class="zmdi zmdi-chevron-right"></i></a>
            </div>
        </div>
    </div>
</main>
