<footer id="listar-footer" class="listar-footer listar-haslayout">
    <div class="listar-footerbar">
        <div class="container-fluid">
            <div class="row">
                <span class="listar-copyright">Copyright &copy; <?php echo date('Y') ?> Dkm.or.id . All rights reserved.</span>
            </div>
        </div>
    </div>
</footer>