<div id="listar-sidebarwrapper" class="listar-sidebarwrapper">
    <strong class="listar-logo">
        <a href="/">
            <img src="/images/logo.png" alt="company logo here">
        </a>
    </strong>
    <span id="listar-btnmenutoggle" class="listar-btnmenutoggle"><i class="fa fa-angle-left"></i></span>
    <div id="listar-verticalscrollbar" class="listar-verticalscrollbar">
        <nav id="listar-navdashboard" class="listar-navdashboard">
            <div class="listar-menutitle"><span>Main</span></div>
            <ul>
                <li class="listar-active">
                    <a href="/dashboard">
                        <i class="icon-speedometer2"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/dashboard/kajian">
                        <i class="icon-layers"></i>
                        <span>Kajian Terdekat</span>
                    </a>
                </li>
                <li>
                    <a href="/dashboard/listing">
                        <i class="icon-layers"></i>
                        <span>DKM Favorit</span>
                    </a>
                </li>
                <li>
                    <a href="/dashboard/reviews">
                        <i class="icon-star4"></i>
                        <span>Review Saya</span>
                    </a>
                </li>
                <li>
                    <a href="/dashboard/wishlist">
                        <i class="icon-heart3"></i>
                        <span>Wishlist</span>
                    </a>
                </li>
                <li>
                    <a href="/dashboard/addlisting">
                        <i class="icon-pencil3"></i>
                        <span>DKM Saya</span>
                    </a>
                </li>
            </ul>
            <div class="listar-menutitle listar-menutitleaccount"><span>Account</span></div>
            <ul>
                <li>
                    <a href="/dashboard/myprofile">
                        <i class="icon-lock6"></i>
                        <span>My Profile</span>
                    </a>
                </li>
                <li>
                    <a href="/session/logout">
                        <i class="icon-user4"></i>
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>