<form action="/books/add" method="post" class="form form-horizontal" enctype="multipart/form-data">
    <div class="section">
        <div class="section-body">                 
            <div class="form-group">
                <label class="col-md-3 control-label">Category :-</label>
                <div class="col-md-6">
                    <select name="id" id="id" class="select2" required>
                        <option value="">--Select Category--</option>
                        <?php
                        while ($cat_row = mysqli_fetch_array($cat_result)) {
                            ?>                       
                            <option value="<?php echo $cat_row['cid']; ?>"><?php echo $cat_row['category_name']; ?></option>                           
                            <?php
                        }
                        ?>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Major :-</label>
                <div class="col-md-6">
                    <select name="major_id[]" id="aid" class="select2" required multiple>
                        <option value="">--Select Major--</option>
                        <?php
                        while ($majors_row = mysqli_fetch_array($majors_result)) {
                            ?>                       
                            <option value="<?php echo $majors_row['id']; ?>"><?php echo $majors_row['name']; ?></option>                           
                            <?php
                        }
                        ?>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Book Title :-</label>
                <div class="col-md-6">
                    <input type="text" name="book_title" id="book_title" value="" class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Book Description :-</label>
                <div class="col-md-6">
                    <textarea name="book_description" id="book_description" class="form-control"></textarea>
                    <script>CKEDITOR.replace('book_description');</script>
                </div>
            </div>                  
            <div class="form-group">&nbsp;</div>


            <div class="form-group">&nbsp;</div>
            <div class="form-group">
                <label class="col-md-3 control-label">Book Featured Image :-</label>
                <div class="col-md-6">
                    <div class="fileupload_block">
                        <input type="file" name="book_cover_img" value="" id="fileupload" required>

                        <div class="fileupload_img"><img type="image" src="assets/images/add-image.png" alt="Featured image" /></div>

                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Book Cover Image :-</label>
                <div class="col-md-6">
                    <div class="fileupload_block">
                        <input type="file" name="book_bg_img" value="" id="fileupload" required>

                        <div class="fileupload_img"><img type="image" src="assets/images/add-image.png" alt="Featured image" /></div>

                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">File Type :-</label>
                <div class="col-md-6">                       
                    <select name="book_file_type" id="book_file_type" style="width:280px; height:25px;" class="select2" required>
                        <option value="">--Select Category--</option>
                        <option value="server_url">From Server</option>
                        <option value="local">From Local</option>
                    </select>
                </div>
            </div>
            <div id="book_url_display" class="form-group">
                <label class="col-md-3 control-label">File URL :-</label>
                <div class="col-md-6">
                    <input type="text" name="book_file_server_url" id="book_file_server_url" value="" class="form-control">
                </div>
            </div>

            <div class="form-group" id="book_local_display" class="form-group" style="display:none;">
                <label class="col-md-3 control-label">Book File :-</label>
                <div class="col-md-6">
                    <div class="fileupload_block">
                        <input type="file" name="book_file_local" value="" id="fileupload">

                        <div class="fileupload_img"><img type="image" src="assets/images/add-image.png" alt="Featured image" /></div>

                    </div>
                </div>
            </div> 


            <div class="form-group">
                <div class="col-md-9 col-md-offset-3">
                    <button type="submit" name="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>
