<main>
    <div class="page-heading text-center">
        <div class="container">
            <div class="pull-right">
                <ul class="grid-opts">
                    <li><a href="/books/viewbooks_list/"><i class="zmdi zmdi-view-list zmdi-hc-lg"></i></a></li><li>
                        <a class="active" href="#"><i class="zmdi zmdi-view-module zmdi-hc-lg"></i></a></li>
                </ul>
            </div>
            <h2>ALL BOOKS</h2>
        </div>
    </div>
    <div class="container courses-browse popular">
        <div class="row toolbar">
            <form action="/books/index/" method="GET">
                <div class="col-md-4 col-sm-6 col-xs-12 select-categories">
                    <select class="jquery-select" name="category">	
                        <option value="">choose a category</option>
                        <?php foreach ($category_list as $category): ?>
                            <option value="<?php echo $category->cid ?>"><?php echo $category->category_name; ?></option>
                        <?php endforeach ?>
                    </select>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 select-numofvids">
                    <select class="jquery-select" name="author">	
                        <option value="">choose a author</option>
                        <?php
                        foreach ($author as $author):

                            $selected = '';
                            if (isset($_GET['author']) && $_GET['author'] == $author->author_id) {
                                $selected = 'selected="selected"';
                            }
                            ?>
                            <option <?php echo $selected ?> value="<?php echo $author->author_id ?>"><?php echo $author->author_name; ?></option>
                        <?php endforeach ?>
                    </select>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 select-name">
                    <select class="jquery-select" name="sort_by">	
                        <option value="">Sort By</option>
                        <option value="1" <?php echo isset($_GET['sort_by']) && $_GET['sort_by'] == '1' ? 'selected' : '' ?>>Rating</option>
                        <option value="2" <?php echo isset($_GET['sort_by']) && $_GET['sort_by'] == '2' ? 'selected' : '' ?>>Populer</option>
                    </select>
                </div>
                <!-- <div class="col-sm-6 col-xs-12 text-keywords">
                        <input class="keywords" name="keywords" type="text" placeholder="keywords">	
                </div> -->
                <div class="col-sm-6 col-xs-12 search-button">
                    <button type="submit" class="search-teachers">SEARCH</button>
                </div> 
            </form>
        </div>
        <div class="row tutorials">
            <?php foreach ($page->items as $book): ?>
                <div class="col-md-3 col-sm-6">
                    <div class="tutorial" style="margin-top:20px;">
                        <a href="/books/<?php echo $book->id ?>/<?php echo $book->slug ?>">
                            <img src=" https://android-ebook.gaivo.co.id/images/thumbs/<?php echo $book->book_cover_img ?>" class="foto" alt="<?php echo $book->book_title ?>" class="resp-img" alt="Tutorial">
                        </a>
                        <div class="tutorial-details">
                            <div class="tutorial-lessons">
                                <h6><?php echo $book->book_title ?></h6>
                                <p><span class="lessons"><i class="zmdi zmdi-eye"></i><?php echo $book->book_views ?> VIEWS</span><span class="duration"><i class="zmdi zmdi-star"></i><?php echo $book->rate_avg ?></span></p>
                                <p class="abs"><?php echo substr(strip_tags($book->book_description), 0, 150) . ".." ?></p>
                            </div>
                            <a href="/books/<?php echo $book->id ?>/<?php echo $book->slug ?>" class="greybutton">VIEW BOOK</a>
                        </div>
                    </div>
                </div>
            <?php endforeach ?>
        </div>
        <div class="row text-center">
            <div class="col-xs-12">
                <hr/>
                <div class="paginations">
                    <a class="prev" href='/books?page=<?= $page->before; ?>'><i class="zmdi zmdi-chevron-left"></i>PREV</a>
                    <?php for ($i = 1; $i <= $page->total_pages; $i++) { ?>
                        <a href="/books/?page=<?php echo $i ?>" <?php
                        if ($i == $page->current) {
                            echo 'class="active"';
                        }
                        ?>><?php echo $i; ?></a>
                       <?php } ?>
                    <a class="next" href='/books/?page=<?= $page->next; ?>'>NEXT<i class="zmdi zmdi-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</main>