<main id="listar-main" class="listar-main listar-haslayout">
    <div class="listar-themepost listar-placespost listar-detail listar-detailvone">
        <figure class="listar-featuredimg">
            <img src="/img/masjid/<?php echo $mosque->image==''?'backgroundmasjid.jpg':'member/'.$mosque->image ?>" alt="Masjid <?php echo $mosque->name; ?> <?php echo $mosque->location; ?>">
        </figure>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="listar-postcontent">
                        <h1>
                            <?php echo $mosque->name; ?> <?php echo $mosque->location; ?> 
                            <i class="icon-checkmark listar-postverified listar-themetooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Verified"></i></h1>
                        <div class="listar-reviewcategory">
                            <div class="listar-review">
                                <?php echo str_repeat('<i class="fa fa-star" style="color:#FFa000"></i>', round($mosque->total_rating)) ?>
                                <em>(<?php echo count($reviews) ?> Reviews)</em>
                            </div>
                            <ul class="listar-postinfotags">
                                <li><a href="javascript:void(0);"><i class="icon-heart2"></i><span>23</span></a></li>
                                <li>
                                    <span class="listar-tagviews">
                                        <i class="icon-eye2"></i><span><?php echo count($mosque->mosque_views) ?></span>
                                    </span>
                                </li>
                                <li><a href="#" data-target="#modal-klaim" data-toggle="modal"><i class="icon-heart2"></i>Klaim</a></li>                                
                            </ul>
                        </div>
                        <div id="share"></div>
                        <div class="listar-themepostfoot">
                            <ul>
                                <li>
                                    <i class="icon-telephone114"></i>
                                    <span>+ 7890 456 133</span>
                                </li>
                                <li>
                                    <i class="icon-icons74"></i>
                                    <span>Manhattan Hall, London W1K 2EQ UK</span>
                                </li>
                                <li>
                                    <i class="icon-icons20"></i>
                                    <span>Today <span>Closed Now</span> 10:00 AM - 5:00 PM</span>
                                </li>
                                <li>
                                    <i class="icon-global"></i>
                                    <span><a href="www.listingstar.com">www.listingstar.com</a></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="listar-themetabs">
                        <ul class="listar-themetabnav" role="tablist">
                            <li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">Overview</a></li>
                            <li role="presentation"><a href="#pricing" aria-controls="pricing" role="tab" data-toggle="tab">Pricing</a></li>
                            <li role="presentation"><a href="#location" aria-controls="location" role="tab" data-toggle="tab">Location</a></li>
                            <li role="presentation"><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">Reviews</a></li>
                            <li role="presentation"><a href="#gallery" aria-controls="gallery" role="tab" data-toggle="tab">Gallery</a></li>
                        </ul>
                        <div class="tab-content listar-themetabcontent">
                            <div role="tabpanel" class="tab-pane active listar-overview" id="overview">
                                <div class="listar-leftbox">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy Etiam porta sem malesuada magna mollis euismod.</p>
                                    <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue Sed non mauris vitae;erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo.</p>
                                    <p>Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi.</p>
                                    <p>Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam.</p>
                                    <div class="listar-videobox">
                                        <iframe src="https://player.vimeo.com/video/234265016?byline=0&portrait=0"></iframe>
                                    </div>
                                </div>
                                <div class="listar-rightbox">
                                    <div class="listar-amenitiesarea">
                                        <div class="listar-title">
                                            <h3>Amenities</h3>
                                        </div>
                                        <ul class="listar-amenities">
                                            <li>Pets allowed</li>
                                            <li>Kitchen</li>
                                            <li>Internet</li>
                                            <li>Suitable for events</li>
                                            <li>Gym</li>
                                            <li>Dryer</li>
                                            <li>Hot tub</li>
                                            <li>Family/kid friendly</li>
                                            <li>Doorman</li>
                                            <li>Cable TV</li>
                                            <li>Wheelchair accessible</li>
                                            <li>Wireless Internet</li>
                                            <li>Pool</li>
                                        </ul>
                                    </div>
                                    <div class="listar-openinghoursarea">
                                        <div class="listar-title">
                                            <h3>Opening Hours</h3>
                                        </div>
                                        <ul class="listar-openinghours">
                                            <li>
                                                <span>Monday</span>
                                                <span>10:00 AM - 5:00 PM</span>
                                            </li>
                                            <li>
                                                <span>Tuesday</span>
                                                <span>10:00 AM - 5:00 PM</span>
                                            </li>
                                            <li>
                                                <span>Wednesday</span>
                                                <span>10:00 AM - 5:00 PM</span>
                                            </li>
                                            <li>
                                                <span>Thursday</span>
                                                <span>10:00 AM - 5:00 PM</span>
                                            </li>
                                            <li>
                                                <span>Friday</span>
                                                <span>10:00 AM - 5:00 PM</span>
                                            </li>
                                            <li>
                                                <span>Saturday</span>
                                                <span>10:00 AM - 3:00 PM</span>
                                            </li>
                                            <li>
                                                <span>Sunday</span>
                                                <span>Closed</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane listar-pricing" id="pricing">
                                <ul class="listar-prices">
                                    <li>
                                        <div class="listar-pricebox">
                                            <h3>Chicken Corn Soup</h3>
                                            <p>Served with Fish Crackers (Individual)</p>
                                            <span class="listar-price">$12</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="listar-pricebox">
                                            <h3>Chicken Corn Soup</h3>
                                            <p>Served with Fish Crackers (Individual)</p>
                                            <span class="listar-price">$12</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="listar-pricebox">
                                            <h3>Masala Fries</h3>
                                            <p>Served with Fish Crackers (Individual)</p>
                                            <span class="listar-price">$5</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="listar-pricebox">
                                            <h3>Chicken Corn Soup</h3>
                                            <p>Served with Fish Crackers (Individual)</p>
                                            <span class="listar-price">$12</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="listar-pricebox">
                                            <h3>Inside Out Sandwich</h3>
                                            <p>Served with Fish Crackers (Individual)</p>
                                            <span class="listar-price">$54</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="listar-pricebox">
                                            <h3>Chicken Corn Soup</h3>
                                            <p>Served with Fish Crackers (Individual)</p>
                                            <span class="listar-price">$12</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="listar-pricebox">
                                            <h3>Chicken Corn Soup</h3>
                                            <p>Served with Fish Crackers (Individual)</p>
                                            <span class="listar-price">$12</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="listar-pricebox">
                                            <h3>Chicken Corn Soup</h3>
                                            <p>Served with Fish Crackers (Individual)</p>
                                            <span class="listar-price">$12</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="listar-pricebox">
                                            <h3>Chicken Corn Soup</h3>
                                            <p>Served with Fish Crackers (Individual)</p>
                                            <span class="listar-price">$12</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div role="tabpanel" class="tab-pane listar-addressmaplocation" id="location">
                                <div id="listar-postlocationmap" class="listar-postlocationmap"></div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="reviews">
                                <ul id="listar-comments" class="listar-comments">
                                    <?php foreach ($reviews as $review): ?>
                                        <li>
                                            <div class="listar-comment">
                                                <div class="listar-commentauthorbox">
                                                    <figure><a href="#"><img src="/images/img-02.jpg" alt="image description"></a></figure>
                                                    <div class="listar-authorinfo">
                                                        <h3><?php echo $review->name ?></h3>
                                                        <em><?php echo $review->email ?></em>
                                                        <?php echo str_repeat('<i class="fa fa-star" style="color:#FFa000"></i>', floor($review->rating)) ?>
                                                    </div>
                                                </div>
                                                <a class="listar-helpful" href="javascript:void(0);">
                                                    <i class="icon-thumb-up2"></i>
                                                    <span>Helpful</span>
                                                    <span>1</span>
                                                </a>
                                                <div class="listar-commentcontent">
                                                    <time datetime="2017-09-09">
                                                        <i class="icon-alarmclock"></i>
                                                        <span><?php echo $review->created ?></span>
                                                    </time>
                                                    <div class="listar-description">
                                                        <p><?php echo $review->comment ?></p>
                                                        <!-- <ul class="listar-authorgallery">
                                                            <li><figure><a href="images/img-03.jpg" data-rel="prettyPhoto[userimgone]"><img src="/images/img-03.jpg" alt="image description"></a></figure></li>
                                                            <li><figure><a href="images/img-04.jpg" data-rel="prettyPhoto[userimgone]"><img src="/images/img-04.jpg" alt="image description"></a></figure></li>
                                                        </ul> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    <?php endforeach ?>
                                </ul>
                                <nav class="listar-pagination">
                                    <ul>
                                        <li class="listar-prevpage"><a href="javascript:void(0);"><i class="fa fa-angle-left"></i></a></li>
                                        <li><a href="javascript:void(0);">1</a></li>
                                        <li><a href="javascript:void(0);">2</a></li>
                                        <li><a href="javascript:void(0);">3</a></li>
                                        <li class="listar-nextpage"><a href="javascript:void(0);"><i class="fa fa-angle-right"></i></a></li>
                                    </ul>
                                </nav>                                
                                <div class="listar-formreviewarea">                                    
                                    <h3>Add Review</h3>
                                    <div id="submit-review-message" style="display: none;">
                                        <div class="alert alert-success">
                                            <h4>Submit Review Berhasil</h4>
                                            <p>
                                                Terimakasih. review anda sudah kami terima dan akan muncul beberapa saat lagi.
                                            </p>
                                        </div>
                                    </div>
                                    <form method="post" action="/dkm/view/<?php echo $mosque->id; ?>" id="submit-review" class="listar-formtheme listar-formaddreview" onsubmit="return false;">
                                        <fieldset>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <div class="listar-rating">
                                                        <p>Bagikan pengalaman Anda tentang <?php echo $mosque->name; ?> <?php echo $mosque->location; ?></p>
                                                        <br>
                                                        <select name="rating" id="listing-review-rating">
                                                            <?php
                                                            for ($i = 1; $i <= 5; $i++) {
                                                                echo '<option value="' . $i . '">' . $i . '</option>';
                                                            }
                                                            ?>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!--
                                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                    <label class="listar-fileuploadlabel" for="listar-photogallery">
                                                        <i class="icon-upload3"></i>
                                                        <span>Upload Images</span>
                                                        <input id="listar-photogallery" class="listar-fileinput" type="file" name="file">
                                                    </label>
                                                </div>
                                                -->
                                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                    <div class="form-group">
                                                        <input type="text" name="yourname" class="form-control" placeholder="Your Name">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                    <div class="form-group">
                                                        <input type="text" name="emailaddress" class="form-control" placeholder="Email Address">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <div class="form-group">
                                                        <textarea name="review" class="form-control" placeholder="Review"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <button class="listar-btn listar-btngreen" type="submit">Submit Review</button>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="gallery">
                                <div id="listar-postgallery" class="listar-postgallery">
                                    <div class="listar-masnory"><figure><a href="images/gallery/img-01.jpg" data-rel="prettyPhoto[gallery]"><img src="/images/gallery/img-01.jpg" alt="image description"></a></figure></div>
                                    <div class="listar-masnory"><figure><a href="images/gallery/img-02.jpg" data-rel="prettyPhoto[gallery]"><img src="/images/gallery/img-02.jpg" alt="image description"></a></figure></div>
                                    <div class="listar-masnory"><figure><a href="images/gallery/img-03.jpg" data-rel="prettyPhoto[gallery]"><img src="/images/gallery/img-03.jpg" alt="image description"></a></figure></div>
                                    <div class="listar-masnory"><figure><a href="images/gallery/img-05.jpg" data-rel="prettyPhoto[gallery]"><img src="/images/gallery/img-05.jpg" alt="image description"></a></figure></div>
                                    <div class="listar-masnory"><figure><a href="images/gallery/img-04.jpg" data-rel="prettyPhoto[gallery]"><img src="/images/gallery/img-04.jpg" alt="image description"></a></figure></div>
                                    <div class="listar-masnory"><figure><a href="images/gallery/img-06.jpg" data-rel="prettyPhoto[gallery]"><img src="/images/gallery/img-06.jpg" alt="image description"></a></figure></div>
                                    <div class="listar-masnory"><figure><a href="images/gallery/img-07.jpg" data-rel="prettyPhoto[gallery]"><img src="/images/gallery/img-07.jpg" alt="image description"></a></figure></div>
                                    <div class="listar-masnory"><figure><a href="images/gallery/img-08.jpg" data-rel="prettyPhoto[gallery]"><img src="/images/gallery/img-08.jpg" alt="image description"></a></figure></div>
                                    <div class="listar-masnory"><figure><a href="images/gallery/img-09.jpg" data-rel="prettyPhoto[gallery]"><img src="/images/gallery/img-09.jpg" alt="image description"></a></figure></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="listar-sectionspace listar-bglight listar-listingvtwo listar-haslayout">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="listar-title">
                        <h3>Amenities</h3>
                    </div>
                    <div id="listar-relatedlistingslider" class="listar-relatedlistingslider listar-gridview owl-carousel">
                        <div class="item">
                            <div class="listar-themepost listar-placespost">
                                <figure class="listar-featuredimg">
                                    <img src="/images/post/img-13.jpg" alt="image description">
                                    <div class="listar-postcontent">
                                        <h3><a href="javascript:void(0);">Tourist Guide</a></h3>
                                        <div class="listar-reviewcategory">
                                            <div class="listar-review">
                                                <span class="listar-stars"><span></span></span>
                                                <em>(3 Review)</em>
                                            </div>
                                            <a href="javascript:void(0);" class="listar-category">
                                                <i class="icon-nightlife"></i>
                                                <span>Night Life</span>
                                            </a>
                                        </div>
                                        <div class="listar-themepostfoot">
                                            <a class="listar-location" href="javascript:void(0);">
                                                <i class="icon-icons74"></i>
                                                <em>New York</em>
                                            </a>
                                            <div class="listar-postbtns">
                                                <a class="listar-btnquickinfo" href="#" data-toggle="modal" data-target=".listar-placequickview"><i class="icon-expand"></i></a>
                                                <a class="listar-btnquickinfo" href="javascript:void(0);"><i class="icon-heart2"></i></a>
                                                <div class="listar-btnquickinfo">
                                                    <div class="listar-shareicons">
                                                        <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                                        <a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                                                        <a href="javascript:void(0);"><i class="fa fa-pinterest-p"></i></a>
                                                    </div>
                                                    <a class="listar-btnshare" href="javascript:void(0);">
                                                        <i class="icon-share3"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                        <div class="item">
                            <div class="listar-themepost listar-placespost">
                                <figure class="listar-featuredimg">
                                    <img src="/images/post/img-14.jpg" alt="image description">
                                    <div class="listar-postcontent">
                                        <h3><a href="javascript:void(0);">Serena Hotel</a><i class="icon-checkmark listar-postverified listar-themetooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Verified"></i></h3>
                                        <div class="listar-reviewcategory">
                                            <div class="listar-review">
                                                <span class="listar-stars"><span></span></span>
                                                <em>(3 Review)</em>
                                            </div>
                                            <a href="javascript:void(0);" class="listar-category">
                                                <i class="icon-tourism"></i>
                                                <span>Hotel</span>
                                            </a>
                                        </div>
                                        <div class="listar-themepostfoot">
                                            <a class="listar-location" href="javascript:void(0);">
                                                <i class="icon-icons74"></i>
                                                <em>New York</em>
                                            </a>
                                            <div class="listar-postbtns">
                                                <a class="listar-btnquickinfo" href="#" data-toggle="modal" data-target=".listar-placequickview"><i class="icon-expand"></i></a>
                                                <a class="listar-btnquickinfo listar-liked" href="javascript:void(0);"><i class="icon-heart2"></i></a>
                                                <div class="listar-btnquickinfo">
                                                    <div class="listar-shareicons">
                                                        <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                                        <a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                                                        <a href="javascript:void(0);"><i class="fa fa-pinterest-p"></i></a>
                                                    </div>
                                                    <a class="listar-btnshare" href="javascript:void(0);">
                                                        <i class="icon-share3"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                        <div class="item">
                            <div class="listar-themepost listar-placespost">
                                <figure class="listar-featuredimg">
                                    <img src="/images/post/img-15.jpg" alt="image description">
                                    <div class="listar-postcontent">
                                        <h3><a href="javascript:void(0);">Tourist Guide</a></h3>
                                        <div class="listar-reviewcategory">
                                            <div class="listar-review">
                                                <span class="listar-stars"><span></span></span>
                                                <em>(3 Review)</em>
                                            </div>
                                            <a href="javascript:void(0);" class="listar-category">
                                                <i class="icon-foods"></i>
                                                <span>Food and Drinks</span>
                                            </a>
                                        </div>
                                        <div class="listar-themepostfoot">
                                            <a class="listar-location" href="javascript:void(0);">
                                                <i class="icon-icons74"></i>
                                                <em>New York</em>
                                            </a>
                                            <div class="listar-postbtns">
                                                <a class="listar-btnquickinfo" href="#" data-toggle="modal" data-target=".listar-placequickview"><i class="icon-expand"></i></a>
                                                <a class="listar-btnquickinfo" href="javascript:void(0);"><i class="icon-heart2"></i></a>
                                                <div class="listar-btnquickinfo">
                                                    <div class="listar-shareicons">
                                                        <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                                        <a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                                                        <a href="javascript:void(0);"><i class="fa fa-pinterest-p"></i></a>
                                                    </div>
                                                    <a class="listar-btnshare" href="javascript:void(0);">
                                                        <i class="icon-share3"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                        <div class="item">
                            <div class="listar-themepost listar-placespost">
                                <figure class="listar-featuredimg">
                                    <img src="/images/post/img-13.jpg" alt="image description">
                                    <div class="listar-postcontent">
                                        <h3><a href="javascript:void(0);">Tourist Guide</a></h3>
                                        <div class="listar-reviewcategory">
                                            <div class="listar-review">
                                                <span class="listar-stars"><span></span></span>
                                                <em>(3 Review)</em>
                                            </div>
                                            <a href="javascript:void(0);" class="listar-category">
                                                <i class="icon-nightlife"></i>
                                                <span>Night Life</span>
                                            </a>
                                        </div>
                                        <div class="listar-themepostfoot">
                                            <a class="listar-location" href="javascript:void(0);">
                                                <i class="icon-icons74"></i>
                                                <em>New York</em>
                                            </a>
                                            <div class="listar-postbtns">
                                                <a class="listar-btnquickinfo" href="#" data-toggle="modal" data-target=".listar-placequickview"><i class="icon-expand"></i></a>
                                                <a class="listar-btnquickinfo" href="javascript:void(0);"><i class="icon-heart2"></i></a>
                                                <div class="listar-btnquickinfo">
                                                    <div class="listar-shareicons">
                                                        <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                                        <a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                                                        <a href="javascript:void(0);"><i class="fa fa-pinterest-p"></i></a>
                                                    </div>
                                                    <a class="listar-btnshare" href="javascript:void(0);">
                                                        <i class="icon-share3"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                        <div class="item">
                            <div class="listar-themepost listar-placespost">
                                <figure class="listar-featuredimg">
                                    <img src="/images/post/img-14.jpg" alt="image description">
                                    <div class="listar-postcontent">
                                        <h3><a href="javascript:void(0);">Serena Hotel</a><i class="icon-checkmark listar-postverified listar-themetooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Verified"></i></h3>
                                        <div class="listar-reviewcategory">
                                            <div class="listar-review">
                                                <span class="listar-stars"><span></span></span>
                                                <em>(3 Review)</em>
                                            </div>
                                            <a href="javascript:void(0);" class="listar-category">
                                                <i class="icon-tourism"></i>
                                                <span>Hotel</span>
                                            </a>
                                        </div>
                                        <div class="listar-themepostfoot">
                                            <a class="listar-location" href="javascript:void(0);">
                                                <i class="icon-icons74"></i>
                                                <em>New York</em>
                                            </a>
                                            <div class="listar-postbtns">
                                                <a class="listar-btnquickinfo" href="#" data-toggle="modal" data-target=".listar-placequickview"><i class="icon-expand"></i></a>
                                                <a class="listar-btnquickinfo listar-liked" href="javascript:void(0);"><i class="icon-heart2"></i></a>
                                                <div class="listar-btnquickinfo">
                                                    <div class="listar-shareicons">
                                                        <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                                        <a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                                                        <a href="javascript:void(0);"><i class="fa fa-pinterest-p"></i></a>
                                                    </div>
                                                    <a class="listar-btnshare" href="javascript:void(0);">
                                                        <i class="icon-share3"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                        <div class="item">
                            <div class="listar-themepost listar-placespost">
                                <figure class="listar-featuredimg">
                                    <img src="/images/post/img-15.jpg" alt="image description">
                                    <div class="listar-postcontent">
                                        <h3><a href="javascript:void(0);">Tourist Guide</a></h3>
                                        <div class="listar-reviewcategory">
                                            <div class="listar-review">
                                                <span class="listar-stars"><span></span></span>
                                                <em>(3 Review)</em>
                                            </div>
                                            <a href="javascript:void(0);" class="listar-category">
                                                <i class="icon-foods"></i>
                                                <span>Food and Drinks</span>
                                            </a>
                                        </div>
                                        <div class="listar-themepostfoot">
                                            <a class="listar-location" href="javascript:void(0);">
                                                <i class="icon-icons74"></i>
                                                <em>New York</em>
                                            </a>
                                            <div class="listar-postbtns">
                                                <a class="listar-btnquickinfo" href="#" data-toggle="modal" data-target=".listar-placequickview"><i class="icon-expand"></i></a>
                                                <a class="listar-btnquickinfo" href="javascript:void(0);"><i class="icon-heart2"></i></a>
                                                <div class="listar-btnquickinfo">
                                                    <div class="listar-shareicons">
                                                        <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                                        <a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                                                        <a href="javascript:void(0);"><i class="fa fa-pinterest-p"></i></a>
                                                    </div>
                                                    <a class="listar-btnshare" href="javascript:void(0);">
                                                        <i class="icon-share3"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                        <div class="item">
                            <div class="listar-themepost listar-placespost">
                                <figure class="listar-featuredimg">
                                    <img src="/images/post/img-13.jpg" alt="image description">
                                    <div class="listar-postcontent">
                                        <h3><a href="javascript:void(0);">Tourist Guide</a></h3>
                                        <div class="listar-reviewcategory">
                                            <div class="listar-review">
                                                <span class="listar-stars"><span></span></span>
                                                <em>(3 Review)</em>
                                            </div>
                                            <a href="javascript:void(0);" class="listar-category">
                                                <i class="icon-nightlife"></i>
                                                <span>Night Life</span>
                                            </a>
                                        </div>
                                        <div class="listar-themepostfoot">
                                            <a class="listar-location" href="javascript:void(0);">
                                                <i class="icon-icons74"></i>
                                                <em>New York</em>
                                            </a>
                                            <div class="listar-postbtns">
                                                <a class="listar-btnquickinfo" href="#" data-toggle="modal" data-target=".listar-placequickview"><i class="icon-expand"></i></a>
                                                <a class="listar-btnquickinfo" href="javascript:void(0);"><i class="icon-heart2"></i></a>
                                                <div class="listar-btnquickinfo">
                                                    <div class="listar-shareicons">
                                                        <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                                        <a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                                                        <a href="javascript:void(0);"><i class="fa fa-pinterest-p"></i></a>
                                                    </div>
                                                    <a class="listar-btnshare" href="javascript:void(0);">
                                                        <i class="icon-share3"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                        <div class="item">
                            <div class="listar-themepost listar-placespost">
                                <figure class="listar-featuredimg">
                                    <img src="/images/post/img-14.jpg" alt="image description">
                                    <div class="listar-postcontent">
                                        <h3><a href="javascript:void(0);">Serena Hotel</a><i class="icon-checkmark listar-postverified listar-themetooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Verified"></i></h3>
                                        <div class="listar-reviewcategory">
                                            <div class="listar-review">
                                                <span class="listar-stars"><span></span></span>
                                                <em>(3 Review)</em>
                                            </div>
                                            <a href="javascript:void(0);" class="listar-category">
                                                <i class="icon-tourism"></i>
                                                <span>Hotel</span>
                                            </a>
                                        </div>
                                        <div class="listar-themepostfoot">
                                            <a class="listar-location" href="javascript:void(0);">
                                                <i class="icon-icons74"></i>
                                                <em>New York</em>
                                            </a>
                                            <div class="listar-postbtns">
                                                <a class="listar-btnquickinfo" href="#" data-toggle="modal" data-target=".listar-placequickview"><i class="icon-expand"></i></a>
                                                <a class="listar-btnquickinfo listar-liked" href="javascript:void(0);"><i class="icon-heart2"></i></a>
                                                <div class="listar-btnquickinfo">
                                                    <div class="listar-shareicons">
                                                        <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                                        <a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                                                        <a href="javascript:void(0);"><i class="fa fa-pinterest-p"></i></a>
                                                    </div>
                                                    <a class="listar-btnshare" href="javascript:void(0);">
                                                        <i class="icon-share3"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                        <div class="item">
                            <div class="listar-themepost listar-placespost">
                                <figure class="listar-featuredimg">
                                    <img src="/images/post/img-15.jpg" alt="image description">
                                    <div class="listar-postcontent">
                                        <h3><a href="javascript:void(0);">Tourist Guide</a></h3>
                                        <div class="listar-reviewcategory">
                                            <div class="listar-review">
                                                <span class="listar-stars"><span></span></span>
                                                <em>(3 Review)</em>
                                            </div>
                                            <a href="javascript:void(0);" class="listar-category">
                                                <i class="icon-foods"></i>
                                                <span>Food and Drinks</span>
                                            </a>
                                        </div>
                                        <div class="listar-themepostfoot">
                                            <a class="listar-location" href="javascript:void(0);">
                                                <i class="icon-icons74"></i>
                                                <em>New York</em>
                                            </a>
                                            <div class="listar-postbtns">
                                                <a class="listar-btnquickinfo" href="#" data-toggle="modal" data-target=".listar-placequickview"><i class="icon-expand"></i></a>
                                                <a class="listar-btnquickinfo" href="javascript:void(0);"><i class="icon-heart2"></i></a>
                                                <div class="listar-btnquickinfo">
                                                    <div class="listar-shareicons">
                                                        <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                                        <a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                                                        <a href="javascript:void(0);"><i class="fa fa-pinterest-p"></i></a>
                                                    </div>
                                                    <a class="listar-btnshare" href="javascript:void(0);">
                                                        <i class="icon-share3"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!--************************************
                Main End
*************************************-->
<div id="modal-klaim" class="modal fade listar-placequickview" tabindex="-1" role="dialog">
    <div class="modal-dialog listar-modaldialog" role="document">
        <div class="modal-heading">
            <h4>Klaim</h4>
        </div>            
        <div class="modal-content listar-modalcontent">
            <div class="listar-themepost listar-placespost">
                <span class="listar-btnclosequickview" data-toggle="modal" data-target=".listar-placequickview">X</span>
                <div class="listar-postcontent">
                    <h4>Klaim <?php echo $mosque->name?></h4>
                    <p>
                        Anda bisa melengkapi klaim masjid ini sebagai anggota DKM, supaya anda dapat mengelola informasi Masjid
                    </p>
                    <form method="post" action="/dkm/submit_klaim/<?php echo $mosque->id?>" enctype="multipart/form-data">
                        <div class="form-group">
                            <label>Identitas Anda (KTP,KK, atau Paspor)</label>
                            <input type="file" name="file">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-lg btn-success">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
