<div align="center">

    <div align="left">
        <h2>About this Demo phtml</h2>
    </div>

    <select id="input-tags2" multiple="">
        <option value="1">Nikko</option>
        <option value="2a">Yudi</option>
    </select>
    <div align="left">
        This is a sample application for the <a href="http://phalconphp.com">Phalcon Framework</a>. We expect to implement as many features
        as possible to show how the framework works and its potential. Please write us if you have any
        feedback or comments. Feel free to clone the code of this application <a href="https://github.com/phalcon/vokuro">here</a>.
        The purpose of this application is merely academic. Thanks!.
    </div>

</div>
