<!doctype html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="zxx"> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang="zxx"> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang="zxx"> <![endif]-->
<!--[if gt IE 8]><!-->	<html class="no-js" lang="zxx"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <?php echo $this->tag->getTitle(); ?>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/favicon.png">
        <?php
        echo $this->tag->stylesheetLink('/css/bootstrap.min.css');
        echo $this->tag->stylesheetLink('/css/bootstrap-slider.css');
        echo $this->tag->stylesheetLink('/css/normalize.css');
        echo $this->tag->stylesheetLink('/css/font-awesome.min.css');
        echo $this->tag->stylesheetLink('/css/icomoon.css');
        echo $this->tag->stylesheetLink('/css/chosen.css');
        echo $this->tag->stylesheetLink('/css/prettyPhoto.css');
        echo $this->tag->stylesheetLink('/css/scrollbar.css');
        echo $this->tag->stylesheetLink('/css/morris.css');
        echo $this->tag->stylesheetLink('/css/owl.carousel.css');
        echo $this->tag->stylesheetLink('/css/YouTubePopUp.css');
        echo $this->tag->stylesheetLink('/css/auto-complete.css');
        echo $this->tag->stylesheetLink('/css/jquery.navhideshow.css');
        echo $this->tag->stylesheetLink('/css/transitions.css');
        echo $this->tag->stylesheetLink('/css/style.css');
        echo $this->tag->stylesheetLink('/css/dbstyle.css');
        echo $this->tag->stylesheetLink('/css/color.css');
        echo $this->tag->stylesheetLink('/css/responsive.css');
        echo $this->tag->stylesheetLink('/css/dbresponsive.css');
        echo $this->assets->outputCss();
        echo $this->tag->javascriptInclude('/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js');
        ?>
    </head>
    <body>
        <!--[if lt IE 8]>
                <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="listar-wrapper" class="listar-wrapper listar-haslayout">
            <header id="listar-dashboardheader" class="listar-dashboardheader listar-haslayout">
                <?php echo $this->partial('elements/dashboard/header') ?>
                <?php echo $this->partial('elements/dashboard/sidebar') ?>
            </header>
            <main id="listar-main" class="listar-main listar-haslayout">
                <?php echo $this->getContent(); ?>
            </main>
            <?php echo $this->partial('elements/dashboard/footer') ?>
        </div>
        <?php
        echo $this->tag->javascriptInclude('/js/vendor/jquery-library.js');
        echo $this->tag->javascriptInclude('/js/vendor/bootstrap.min.js');
        echo $this->tag->javascriptInclude('/js/mapclustering/data.json');
        echo $this->tag->javascriptInclude('/js/tinymce/tinymce.min.js?apiKey=4cuu2crphif3fuls3yb1pe4qrun9pkq99vltezv2lv6sogci');
        echo $this->tag->javascriptInclude('https://www.gstatic.com/charts/loader.js');
        echo $this->tag->javascriptInclude('/js/ResizeSensor.js.js');
        echo $this->tag->javascriptInclude('/js/jquery.sticky-sidebar.js');
        echo $this->tag->javascriptInclude('/js/YouTubePopUp.jquery.js');
        echo $this->tag->javascriptInclude('/js/jquery.navhideshow.js');
        echo $this->tag->javascriptInclude('/js/backgroundstretch.js');
        echo $this->tag->javascriptInclude('/js/jquery.sticky-kit.js');
        echo $this->tag->javascriptInclude('/js/bootstrap-slider.js');
        echo $this->tag->javascriptInclude('/js/owl.carousel.min.js');
        echo $this->tag->javascriptInclude('/js/jquery.vide.min.js');
        echo $this->tag->javascriptInclude('/js/auto-complete.js');
        echo $this->tag->javascriptInclude('/js/chosen.jquery.js');
        echo $this->tag->javascriptInclude('/js/scrollbar.min.js');
        echo $this->tag->javascriptInclude('/js/isotope.pkgd.js');
        echo $this->tag->javascriptInclude('/js/jquery.steps.js');
        echo $this->tag->javascriptInclude('/js/prettyPhoto.js');
        echo $this->tag->javascriptInclude('/js/raphael-min.js');
        echo $this->tag->javascriptInclude('/js/parallax.js');
        echo $this->tag->javascriptInclude('/js/sortable.js');
        echo $this->tag->javascriptInclude('/js/countTo.js');
        echo $this->tag->javascriptInclude('/js/appear.js');
        echo $this->tag->javascriptInclude('/js/gmap3.js');
        echo $this->tag->javascriptInclude('/js/dev_themefunction.js');
        echo $this->assets->outputJs();
        echo $this->tag->javascriptInclude('/js/mapclustering/markerclusterer.min.js');
        echo $this->tag->javascriptInclude('/js/mapclustering/infobox.js');
        echo $this->tag->javascriptInclude('/js/mapclustering/map.js');        
        ?>
    </body>
</html>