<!doctype html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="zxx"> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang="zxx"> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang="zxx"> <![endif]-->
<!--[if gt IE 8]><!-->	<html class="no-js" lang="zxx"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <?php echo $this->tag->getTitle(); ?>
        <meta name="description" content="Manajemen DKM masjid jadi lebih mudah dengan dkm.or.id">
        <meta name="viewport" content="width=device-width, initial-scale=1">
                <meta name="image" content="<?php echo $meta['img'] ?>">
        <!-- Schema.org for Google -->
        <meta itemprop="name" content="<?php echo $meta['t'] ?>">
        <meta itemprop="description" content="<?php echo $meta['d'] ?>">
        <meta itemprop="image" content="<?php echo $meta['img'] ?>">
        
        <!-- Twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="<?php echo $meta['t'] ?>">
        <meta name="twitter:description" content="<?php echo $meta['d'] ?>">
        <meta name="twitter:site" content="<?php echo $meta['site'] ?>">
        <meta name="twitter:creator" content="<?php echo $meta['creator'] ?>">
        <meta name="twitter:image:src" content="<?php echo $meta['img'] ?>">
        
        <!-- Open Graph general (Facebook, Pinterest & Google+) -->
        <meta name="og:title" content="<?php echo $meta['t'] ?>">
        <meta name="og:description" content="<?php echo $meta['d'] ?>">
        <meta name="og:image" content="<?php echo $meta['img'] ?>">
        <meta name="og:url" content="<?php echo $meta['img'] ?>">
        <meta name="og:site_name" content="<?php echo $meta['site'] ?>">
        <meta name="og:locale" content="">
        <meta name="og:video" content="">
        <meta name="og:type" content="website">
        <?php
        echo $this->tag->stylesheetLink('/css/bootstrap.min.css');
        echo $this->tag->stylesheetLink('/css/bootstrap-slider.css');
        echo $this->tag->stylesheetLink('/css/normalize.css');
        echo $this->tag->stylesheetLink('/css/font-awesome.min.css');
        echo $this->tag->stylesheetLink('/css/icomoon.css');
        echo $this->tag->stylesheetLink('/css/chosen.css');
        echo $this->tag->stylesheetLink('/css/prettyPhoto.css');
        echo $this->tag->stylesheetLink('/css/scrollbar.css');
        echo $this->tag->stylesheetLink('/css/morris.css');
        echo $this->tag->stylesheetLink('/css/owl.carousel.css');
        echo $this->tag->stylesheetLink('/css/YouTubePopUp.css');
        echo $this->tag->stylesheetLink('/css/auto-complete.css');
        echo $this->tag->stylesheetLink('/css/jquery.navhideshow.css');
        echo $this->tag->stylesheetLink('/css/transitions.css');
        echo $this->tag->stylesheetLink('/css/style.css');
        echo $this->tag->stylesheetLink('/css/color.css');
        echo $this->tag->stylesheetLink('/css/responsive.css');
        echo $this->assets->outputCss();
        echo $this->tag->javascriptInclude('/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js');
        echo $this->assets->outputCss();
        ?>
        <link rel="icon" href="/favicon.png?x=1">
    </head>
    <body>
        <!--[if lt IE 8]>
                <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!--************************************
                        Wrapper Start
                        *************************************-->
        <div id="listar-wrapper" class="listar-wrapper listar-haslayout">
            <!--************************************
                            Header Start
                            *************************************-->
            <?php echo $this->partial('elements/header'); ?>
            <!--************************************
                            Header End
                            *************************************-->
            <?php echo $this->flashSession->output() ?>
            <?php echo $this->getContent(); ?>
            <!--************************************
                            Footer Start
                            *************************************-->
            <?php echo $this->partial('elements/footer'); ?>
            <!--************************************
                            Footer End
                            *************************************-->
        </div>
        <!--************************************
                        Wrapper End
                        *************************************-->
        <!--************************************
                        Theme Modal Box Start
                        *************************************-->
        <div class="modal fade listar-placequickview" tabindex="-1" role="dialog">
            <div class="modal-dialog listar-modaldialog" role="document">
                <div class="modal-content listar-modalcontent">
                    <div class="listar-themepost listar-placespost">
                        <span class="listar-btnclosequickview" data-toggle="modal" data-target=".listar-placequickview">X</span>
                        <figure class="listar-featuredimg" data-vide-bg="poster: images/post/img-16.jpg" data-vide-options="position: 50% 50%">
                            <span class="listar-contactnumber">
                                <i class="icon-"><img src="/images/icons/icon-03.png" alt="image description"></i>
                                <em> + 7890 456 133</em>
                            </span>
                        </figure>
                        <div class="listar-postcontent">
                            <h3><a href="javascript:void(0);">Serena Hotel</a><i class="icon-checkmark listar-postverified listar-themetooltip" data-toggle="tooltip" data-placement="top" title="Verified"></i></h3>
                            <div class="listar-description">
                                <p>Ut euismod ultricies sollicitudin. Curabitur sed dapibus nulla. Nulla eget iaculis lectus. Mauris ac maximus neque. Nam in mauris quis libero sodales eleifend. Morbi varius, nulla sit Nam in mauris quis libero sodales eleifend amet rutrum elementum, est elit finibus tellus, ut tristique elit risus at metus</p>
                            </div>
                            <ul class="listar-listfeatures">
                                <li>Pets allowed</li>
                                <li>Kitchen</li>
                                <li>Internet</li>
                                <li>Suitable for events</li>
                                <li>Gym</li>
                                <li>Dryer</li>
                                <li>Hot tub</li>
                                <li>Family/kid friendly</li>
                                <li>Wireless Internet</li>
                            </ul>
                            <div class="listar-reviewcategory">
                                <div class="listar-review">
                                    <span class="listar-stars"><span></span></span>
                                    <em>(3 Review)</em>
                                </div>
                                <a href="javascript:void(0);" class="listar-category">
                                    <i class="icon-tourism"></i>
                                    <span>Hotel</span>
                                </a>
                            </div>
                            <div class="listar-themepostfoot">
                                <span class="listar-openinghours">
                                    <i class="icon-alarmclock2"></i>
                                    <em>Today <span class="listar-greenthemecolor">Open Now</span> 10:00 AM - 5:00 PM</em>
                                </span>
                                <div class="listar-postbtns">
                                    <a class="listar-btnquickinfo listar-liked" href="javascript:void(0);"><i class="icon-heart2"></i></a>
                                    <div class="listar-btnquickinfo">
                                        <div class="listar-shareicons">
                                            <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                            <a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                                            <a href="javascript:void(0);"><i class="fa fa-pinterest-p"></i></a>
                                        </div>
                                        <a class="listar-btnshare" href="javascript:void(0);">
                                            <i class="icon-share3"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <?php
        echo $this->tag->javascriptInclude('/js/vendor/jquery-library.js');
        echo $this->tag->javascriptInclude('/js/vendor/bootstrap.min.js');
        echo $this->tag->javascriptInclude('/js/mapclustering/data.json');
        echo $this->tag->javascriptInclude('https://maps.google.com/maps/api/js?key=AIzaSyCR-KEWAVCn52mSdeVeTqZjtqbmVJyfSus&amp;language=en');
        echo $this->tag->javascriptInclude('/js/tinymce/tinymce.min.js?apiKey=4cuu2crphif3fuls3yb1pe4qrun9pkq99vltezv2lv6sogci');
        echo $this->tag->javascriptInclude('/js/mapclustering/markerclusterer.min.js');
        echo $this->tag->javascriptInclude('/js/mapclustering/infobox.js');
        echo $this->tag->javascriptInclude('/js/mapclustering/map.js');
        echo $this->tag->javascriptInclude('/js/ResizeSensor.js.js');
        echo $this->tag->javascriptInclude('/js/jquery.sticky-sidebar.js');
        echo $this->tag->javascriptInclude('/js/YouTubePopUp.jquery.js');
        echo $this->tag->javascriptInclude('/js/jquery.navhideshow.js');
        echo $this->tag->javascriptInclude('/js/backgroundstretch.js');
        echo $this->tag->javascriptInclude('/js/jquery.sticky-kit.js');
        echo $this->tag->javascriptInclude('/js/bootstrap-slider.js');
        echo $this->tag->javascriptInclude('/js/owl.carousel.min.js');
        echo $this->tag->javascriptInclude('/js/jquery.vide.min.js');
        echo $this->tag->javascriptInclude('/js/auto-complete.js');
        echo $this->tag->javascriptInclude('/js/chosen.jquery.js');
        echo $this->tag->javascriptInclude('/js/scrollbar.min.js');
        echo $this->tag->javascriptInclude('/js/isotope.pkgd.js');
        echo $this->tag->javascriptInclude('/js/jquery.steps.js');
        echo $this->tag->javascriptInclude('/js/prettyPhoto.js');
        echo $this->tag->javascriptInclude('/js/raphael-min.js');
        echo $this->tag->javascriptInclude('/js/parallax.js');
        echo $this->tag->javascriptInclude('/js/sortable.js');
        echo $this->tag->javascriptInclude('/js/countTo.js');
        echo $this->tag->javascriptInclude('/js/appear.js');
        echo $this->tag->javascriptInclude('/js/gmap3.js');
        echo $this->tag->javascriptInclude('/js/dev_themefunction.js?p=10');
        echo $this->assets->outputJs();
        ?>
        <?php echo $this->partial('elements/login');?>
    </body>
</html>