<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1"/>
        <meta name="msapplication-tap-highlight" content="no">

        <meta name="mobile-web-app-capable" content="yes">
        <meta name="application-name" content="Milestone">

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="Milestone">

        <meta name="theme-color" content="#4C7FF0">

        <?php echo $this->tag->getTitle(); ?>

        <!-- page stylesheets -->
        <link rel="stylesheet" href="/pengurus/vendor/bower-jvectormap/jquery-jvectormap-1.2.2.css"/>
        <!-- end page stylesheets -->

        <!-- build:css({.tmp,app}) styles/app.min.css -->
        <link rel="stylesheet" href="/pengurus/vendor/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="/pengurus/vendor/pace/themes/blue/pace-theme-minimal.css"/>
        <link rel="stylesheet" href="/pengurus/vendor/font-awesome/css/font-awesome.css"/>
        <link rel="stylesheet" href="/pengurus/vendor/animate.css/animate.css"/>
        <link rel="stylesheet" href="/pengurus/styles/app.css" id="load_styles_before"/>
        <link rel="stylesheet" href="/pengurus/styles/app.skins.css"/>
        <!-- endbuild -->
    </head>
    <body>

        <div class="app">
            <!--sidebar panel-->
            <div class="off-canvas-overlay" data-toggle="sidebar"></div>
            <?php
            echo $this->partial('elements/pengurus/sidebar-'.$this->Mosque->getCurrentRole()->id);
            ?>
            <!-- /sidebar panel -->
            <!-- content panel -->
            <div class="main-panel">
                <!-- top header -->       
                <?php echo $this->partial('elements/pengurus/nav') ?>
                <!-- /top header -->

                <!-- main area -->
                <?php echo $this->getContent(); ?>
                <!-- /main area -->
            </div>
            <!-- /content panel -->

            <!--Chat panel-->
            <div class="modal fade sidebar-modal chat-panel" tabindex="-1" role="dialog" aria-labelledby="chat-panel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="chat-header">
                            <a class="pull-right" href="javascript:;" data-dismiss="modal">
                                <i class="material-icons">close</i>
                            </a>
                            <div class="chat-header-title">People</div>
                        </div>
                        <div class="modal-body flex scroll-y">
                            <div class="chat-group">
                                <div class="chat-group-header">Favourites</div>
                                <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                    <span class="status-online"></span>
                                    <span>Catherine Moreno</span>
                                </a>
                                <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                    <span class="status-online"></span>
                                    <span>Denise Peterson</span>
                                </a>
                                <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                    <span class="status-away"></span>
                                    <span>Charles Wilson</span>
                                </a>
                                <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                    <span class="status-away"></span>
                                    <span>Melissa Welch</span>
                                </a>
                                <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                    <span class="status-no-disturb"></span>
                                    <span>Vincent Peterson</span>
                                </a>
                                <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                    <span class="status-offline"></span>
                                    <span>Pamela Wood</span>
                                </a>
                            </div>
                            <div class="chat-group">
                                <div class="chat-group-header">Online</div>
                                <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                    <span class="status-online"></span>
                                    <span>Tammy Carpenter</span>
                                </a>
                                <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                    <span class="status-away"></span>
                                    <span>Emma Sullivan</span>
                                </a>
                                <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                    <span class="status-no-disturb"></span>
                                    <span>Andrea Brewer</span>
                                </a>
                                <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                    <span class="status-online"></span>
                                    <span>Betty Simmons</span>
                                </a>
                            </div>
                            <div class="chat-group">
                                <div class="chat-group-header">Other</div>
                                <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                    <span class="status-offline"></span>
                                    <span>Denise Peterson</span>
                                </a>
                                <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                    <span class="status-offline"></span>
                                    <span>Jose Rivera</span>
                                </a>
                                <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                    <span class="status-offline"></span>
                                    <span>Diana Robertson</span>
                                </a>
                                <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                    <span class="status-offline"></span>
                                    <span>William Fields</span>
                                </a>
                                <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                    <span class="status-offline"></span>
                                    <span>Emily Stanley</span>
                                </a>
                                <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                    <span class="status-offline"></span>
                                    <span>Jack Hunt</span>
                                </a>
                                <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                    <span class="status-offline"></span>
                                    <span>Sharon Rice</span>
                                </a>
                                <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                    <span class="status-offline"></span>
                                    <span>Mary Holland</span>
                                </a>
                                <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                    <span class="status-offline"></span>
                                    <span>Diane Hughes</span>
                                </a>
                                <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                    <span class="status-offline"></span>
                                    <span>Steven Smith</span>
                                </a>
                                <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                    <span class="status-offline"></span>
                                    <span>Emily Henderson</span>
                                </a>
                                <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                    <span class="status-offline"></span>
                                    <span>Wayne Kelly</span>
                                </a>
                                <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                    <span class="status-offline"></span>
                                    <span>Jane Garcia</span>
                                </a>
                                <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                    <span class="status-offline"></span>
                                    <span>Jose Jimenez</span>
                                </a>
                                <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                    <span class="status-offline"></span>
                                    <span>Rachel Burton</span>
                                </a>
                                <a href="javascript:;" data-toggle="modal" data-target=".chat-message">
                                    <span class="status-offline"></span>
                                    <span>Samantha Ruiz</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade chat-message" tabindex="-1" role="dialog" aria-labelledby="chat-message" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="chat-header">
                            <div class="pull-right dropdown">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <div class="dropdown-menu" role="menu">
                                    <a class="dropdown-item" href="javascript:;">Profile</a>
                                    <a class="dropdown-item" href="javascript:;">Clear messages</a>
                                    <a class="dropdown-item" href="javascript:;">Delete conversation</a>
                                    <a class="dropdown-item" href="javascript:;" data-dismiss="modal">Close chat</a>
                                </div>
                            </div>
                            <div class="chat-conversation-title">
                                <img src="/pengurus/images/face1.jpg" class="avatar avatar-xs img-circle m-r-1 pull-left" alt="">
                                <div class="overflow-hidden">
                                    <span><strong>Charles Wilson</strong></span>
                                    <small>Last seen today at 03:11</small>
                                </div>
                            </div>
                        </div>
                        <div class="modal-body flex scroll-y">
                            <p class="text-xs-center text-muted small text-uppercase bold m-b-1">Yesterday</p>
                            <div class="chat-conversation-user them">
                                <div class="chat-conversation-message">
                                    <p>Hey.</p>
                                </div>
                            </div>
                            <div class="chat-conversation-user them">
                                <div class="chat-conversation-message">
                                    <p>How are the wife and kids, Taylor?</p>
                                </div>
                            </div>
                            <div class="chat-conversation-user me">
                                <div class="chat-conversation-message">
                                    <p>Pretty good, Samuel.</p>
                                </div>
                            </div>
                            <p class="text-xs-center text-muted small text-uppercase bold m-b-1">Today</p>
                            <div class="chat-conversation-user them">
                                <div class="chat-conversation-message">
                                    <p>Curabitur blandit tempus porttitor.</p>
                                </div>
                            </div>
                            <div class="chat-conversation-user me">
                                <div class="chat-conversation-message">
                                    <p>Goodnight!</p>
                                </div>
                            </div>
                            <div class="chat-conversation-user them">
                                <div class="chat-conversation-message">
                                    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                                </div>
                            </div>
                        </div>
                        <div class="chat-conversation-footer">
                            <button class="chat-left">
                                <i class="material-icons">face</i>
                            </button>
                            <div class="chat-input" contenteditable=""></div>
                            <button class="chat-right">
                                <i class="material-icons">photo</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--/Chat panel-->

        </div>

        <script type="text/javascript">
            window.paceOptions = {
                document: true,
                eventLag: true,
                restartOnPushState: true,
                restartOnRequestAfter: true,
                ajax: {
                    trackMethods: ['POST', 'GET']
                }
            };
        </script>

        <!-- build:js({.tmp,app}) scripts/app.min.js -->
        <script src="/pengurus/vendor/jquery/dist/jquery.js"></script>
        <script src="/pengurus/vendor/pace/pace.js"></script>
        <script src="/pengurus/vendor/tether/dist/js/tether.js"></script>
        <script src="/pengurus/vendor/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/pengurus/vendor/fastclick/lib/fastclick.js"></script>
        <script src="/pengurus/scripts/constants.js"></script>
        <script src="/pengurus/scripts/main.js"></script>
        <!-- endbuild -->

        <!-- page scripts -->
        <script src="/pengurus/vendor/flot/jquery.flot.js"></script>
        <script src="/pengurus/vendor/flot/jquery.flot.resize.js"></script>
        <script src="/pengurus/vendor/flot/jquery.flot.stack.js"></script>
        <script src="/pengurus/vendor/flot-spline/js/jquery.flot.spline.js"></script>
        <script src="/pengurus/vendor/bower-jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
        <script src="/pengurus/data/maps/jquery-jvectormap-us-aea.js"></script>
        <script src="/pengurus/vendor/jquery.easy-pie-chart/dist/jquery.easypiechart.js"></script>
        <script src="/pengurus/vendor/noty/js/noty/packaged/jquery.noty.packaged.min.js"></script>
        <script src="/pengurus/scripts/helpers/noty-defaults.js"></script>
        <!-- end page scripts -->

        <!-- initialize page scripts -->
        <script src="/pengurus/scripts/dashboard/dashboard.js"></script>
        <!-- end initialize page scripts -->

    </body>
</html>
