<?php $meta['d'] = isset($meta['d']) ? $meta['d'] : $this->router->getRewriteUri(); ?>
<!doctype html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="zxx"> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang="zxx"> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang="zxx"> <![endif]-->
<!--[if gt IE 8]><!-->	<html class="no-js" lang="zxx"> <!--<![endif]-->
    <head>
    <meta charset = "utf-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <?php echo $this->tag->getTitle();
    ?>
    <meta name="description" content="<?php echo $meta['d'] ?>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="image" content="<?php echo $meta['img'] ?>">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="<?php echo $meta['t'] ?>">
    <meta itemprop="description" content="<?php echo $meta['d'] ?>">
    <meta itemprop="image" content="<?php echo $meta['img'] ?>">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="<?php echo $meta['t'] ?>">
    <meta name="twitter:description" content="<?php echo $meta['d'] ?>">
    <meta name="twitter:site" content="<?php echo $meta['site'] ?>">
    <meta name="twitter:creator" content="<?php echo $meta['creator'] ?>">
    <meta name="twitter:image:src" content="<?php echo $meta['img'] ?>">

    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="<?php echo $meta['t'] ?>">
    <meta name="og:description" content="<?php echo $meta['d'] ?>">
    <meta name="og:image" content="<?php echo $meta['img'] ?>">
    <meta name="og:url" content="<?php echo $meta['url'] ?>">
    <meta name="og:site_name" content="<?php echo $meta['site'] ?>">
    <meta name="og:locale" content="">
    <meta name="og:video" content="">
    <meta name="og:type" content="website">
    <link rel="icon" href="/favicon.png?x=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-slider.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/icomoon.css">
    <link rel="stylesheet" href="/css/chosen.css">
    <link rel="stylesheet" href="/css/prettyPhoto.css">
    <link rel="stylesheet" href="/css/scrollbar.css">
    <link rel="stylesheet" href="/css/morris.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/YouTubePopUp.css">
    <link rel="stylesheet" href="/css/auto-complete.css">
    <link rel="stylesheet" href="/css/jquery.navhideshow.css">
    <link rel="stylesheet" href="/css/transitions.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/css/color.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/themes/fontawesome-stars.css">
    <script src="/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<?php echo $this->assets->outputCss(); ?>
</head>
<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!--************************************
                    Preloader Start
    *************************************-->
    <?php /* <div class="preloader-outer">
      <div class="pin"></div>
      <div class="pulse"></div>
      </div>
     * 
     */ ?>
    <!--************************************
                    Preloader End
    *************************************-->
    <!--************************************
                    Wrapper Start
    *************************************-->
    <div id="listar-wrapper" class="listar-wrapper listar-haslayout">
        <!--************************************
                        Header Start
        *************************************-->
<?php echo $this->partial('elements/header'); ?>
        <!--************************************
                        Header End
        *************************************-->
        <!--************************************
                        Main Start
        *************************************-->
        <?php echo $this->flashSession->output() ?>
<?php echo $this->getContent(); ?>
        <!--************************************
                        Main End
        *************************************-->
        <!--*************************************-->
<?php echo $this->partial('elements/footer'); ?>
        <!--************************************
                        Footer End
        *************************************-->
    </div>
    <!--************************************
                    Wrapper End
    *************************************-->
    <!--************************************
                    Theme Modal Box Start
    *************************************-->

    <!--************************************
                    Theme Modal Box End
    *************************************-->
    <!--************************************
                    Login Singup Start
    *************************************-->
    <!--************************************
                    Login Singup End
    *************************************-->
    <script src="/js/vendor/jquery-library.js"></script>
    <script src="/js/vendor/bootstrap.min.js"></script>
    <script src="/js/mapclustering/data.json"></script>
    <script src="https://maps.google.com/maps/api/js?key=<?php echo $this->config->google->map_api_key; ?>&amp;language=en"></script>
    <script src="/js/tinymce/tinymce.min.js?apiKey=4cuu2crphif3fuls3yb1pe4qrun9pkq99vltezv2lv6sogci"></script>
    <script src="/js/mapclustering/markerclusterer.min.js"></script>
    <script src="/js/mapclustering/infobox.js"></script>
    <script src="/js/mapclustering/map.js"></script>
    <script src="/js/ResizeSensor.js.js"></script>
    <script src="/js/jquery.sticky-sidebar.js"></script>
    <script src="/js/YouTubePopUp.jquery.js"></script>
    <script src="/js/jquery.navhideshow.js"></script>
    <script src="/js/backgroundstretch.js"></script>
    <script src="/js/jquery.sticky-kit.js"></script>
    <script src="/js/bootstrap-slider.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.vide.min.js"></script>
    <script src="/js/auto-complete.js"></script>
    <script src="/js/chosen.jquery.js"></script>
    <script src="/js/scrollbar.min.js"></script>
    <script src="/js/isotope.pkgd.js"></script>
    <script src="/js/jquery.steps.js"></script>
    <script src="/js/prettyPhoto.js"></script>
    <script src="/js/raphael-min.js"></script>
    <script src="/js/parallax.js"></script>
    <script src="/js/sortable.js"></script>
    <script src="/js/countTo.js"></script>
    <script src="/js/appear.js"></script>
    <script src="/js/gmap3.js"></script>
    <script src="/js/dev_themefunction.js"></script>
    <script src="/js/jquery.barrating.min.js"></script>   
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<?php echo $this->assets->outputJs(); ?>
    <script type="text/javascript">
        $('#listing-review-rating').barrating({
            theme: 'fontawesome-stars'
        });
        $("#submit-review").on("submit", function () {
            var isi_form = $(this).serialize();
            var action = $(this).attr("action");
            $.post(action, isi_form, function (resi) {
                if (resi.success == true) {
                    Swal.fire(
                            'Success!',
                            'Review Anda telah kami terima dan akan muncul beberapa saat lagi.',
                            'success'
                            )
                    $("#submit-review").fadeOut('slow');
                    $("#submit-review-message").show();
                } else {
                    alert("review gagal! ulangi lagi");
                }
            }, 'json');

        });
    </script>
<?php echo $this->partial('elements/login'); ?>
</body>
</html>
